@model IEnumerable<GridLogikViewer.Models.mstmodcostdata>

@{
    ViewBag.Title = "Index";
}


@section scripts
{
    <script>
        var box;
        $(document).ready(function () {
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });

            $("#lsttable").dataTable(
           {
               pageLength: 10,
               scrollX: true
           });
            if (box) box.remove();
            return false;
        });

    </script>

}
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Employee</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">Generator Unit Parameter List</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">

                                        @Html.ActionLink(" Add Generator parameter", "Create", "GUParameters", null, new { @id = "btnCreate", @class = "fa fa-plus-circle text-white btn btn-success pull-right btn-sm btnCreateClass" })
                                        <table id="lsttable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Generator Name</th>
                                                    <th class="text-center">Start Up</th>
                                                    <th class="text-center">Shut Down</th>
                                                    <th class="text-center">Max Ramping Limit</th>
                                                    <th class="text-center" style="width:144px">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="data">
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => item.metername)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.mstartup)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.mshut)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.mmrl)</td>
                                                        <td style='text-align:center;width:144px'>@Html.ActionLink(" Edit", "Edit", new { id = item.mrecid }, new { @class = "btn btn-xs btn-warning fa fa-pencil-square-o" })  &nbsp; @Html.ActionLink(" Delete", "Delete", new { id = item.mrecid }, new { @class = "btn btn-xs btn-danger fa fa-trash-o" })</td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                        </section>
@Scripts.Render("~/bundles/jqueryval")