@model GridLogikViewer.Models.MstConsumerClass
@{
    ViewBag.Title = "Delete Consumer Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts
{
    <script>
        $(document).ready(function () {
            var id =@this.ViewContext.RouteData.Values["id"]
        box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",//type of data to be send
                url: BaseAddress + "consumerclass/" + id,
                dataType: "json",//type of data to be received
                success: function (conscls) {

                    if (conscls.Data.result.cclassrecid == null) {
                        alert(conscls.Data.d);
                    }

                    else {
                        $("#cclassrecid").val(conscls.Data.result.cclassrecid);
                        $("#cclassid").val(conscls.Data.result.cclassid);
                        $("#cclassdescription").val(conscls.Data.result.cclassdescription);
                        $("#cclassconsumergroup").val(conscls.Data.result.cclassconsumergroup);
                    }
                    if (box) box.remove();

                },
                error: function (xhr, status, error) {
                    alert(error);
                    if (box) box.remove();
                }
            });
        });




        $(document).ready(function () {
            $("#btnDelete").click(function (e) {
                var msg = confirm(DeleteMessage);
                if (msg == false) {
                    return false;
                }
                else {

                    var mstdivision = {
                        "cclassid": $("#cclassid").val(),
                        "cclassdescription": $("#cclassdescription").val(),
                        "cclassconsumergroup": $("#cclassconsumergroup").val(),
                        "cclassisdeleted": 1
                    };

                    box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });

                    var RecordID = $("#cclassrecid").val();

                    $.ajax({
                        type: "PUT",
                        contentType: "application/json;charset=utf-8",//type of data to be send
                        url: BaseAddress + "consumerclass/" + RecordID,
                        //crossDomain: true,
                        dataType: "json",//type of data to be received
                        data: JSON.stringify(mstdivision),//data to be send
                        success: function (response) {
                            //alert(response);

                            if (response.Data.e == "S") {
                                alert(response.Data.d);
                                window.location.href = '@Url.Action("Index", "consumerclass")';
                            }
                            else if (response.Data.e == "M") {
                                alert(response.Data.d);
                            }
                            else if (response.Data.e == "E") {
                                alert(response.Data.d);
                            }

                            if (box) box.remove();

                        },
                        error: function (xhr, status, error) {

                            alert(xhr.responseText);

                            if (box) box.remove();
                        }
                    });

                    e.preventDefault();
                }
            });
        });

    </script>

}




<h2>Delete Consumer Class</h2>
@using (Html.BeginForm())
{

    <div class="form-horizontal">

        <hr />
        <div class="form-group">
            @Html.HiddenFor(model => model.cclassrecid)
        </div>

        @*<div class="form-group">
            @Html.Hidden("touconsumercatdesc")
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.cclassid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cclassid, new { disabled = "disabled" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cclassdescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cclassdescription, new { disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cclassconsumergroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.cclassconsumergroup, new { disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" id="btnDelete" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

