@model IEnumerable<GridLogik.ViewModels.Alarm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meter.MeterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AlarmCondition)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Status)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meter.MeterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlarmName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AlarmCondition)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
