@model GridLogik.ViewModels.CommunicationDetailLinkCreateModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/multi.min.js"></script>
<link href="~/Content/css/multi.min.css" rel="stylesheet" />
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">
                            Meter Groups
                        </h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">Meter Groups</li>
                    </ol>
                    <!--Top breadcrumb start -->

                    <div class="row  mb55">
                        <div class="col-md-12">
                            <!--Table Wrapper Start-->
                            <a class="btn btn-warning pull-right btn-sm" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="panel panel-light-blue">
                                <div class="panel-heading">
                                    <i class="fa fa-plus-circle"></i> <strong>ADD</strong>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-horizontal">
                                            <br />
                                            @Html.ValidationSummary(true)
                                            @Html.HiddenFor(model => model.converterid)
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.converterid, null, "control-label col-md-2")
                                                </div>
                                                <div class="col-md-10">
                                                    @Html.DropDownListFor(model => model.converterid, (IEnumerable<SelectListItem>)ViewBag.CommunicationDetails, "Select Communication Type", new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.converterid)
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-md-2 form-control-label"> Meters<span style="color:red">&nbsp;*</span>  </label>
                                                        <div class="col-md-10">
                                                            @Html.DropDownList("ddlMeters", ((IEnumerable<SelectListItem>)ViewBag.Meters).ToList().Select(m => new SelectListItem { Value = m.Value, Text = m.Text, Selected = Model.meters.Select(r => r.meterId).ToList().Contains(Convert.ToInt32(m.Value)) ? true : false }), new { @class = "form-control", multiple = "multiple", required = true, title = "Please Provide Meters" })
                                                            @Html.ValidationMessage("ddlMeters", "", new { @class = "text-danger" })
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                            <br />
                                            <table id="tableOne" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="col-sm-6">
                                                            Meter Name
                                                        </th>
                                                        <th class="col-sm-6">
                                                            Modbus Id
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.meters)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                <center>
                                                                    @Html.DisplayFor(model => item.meterName)
                                                                </center>
                                                                @Html.TextBoxFor(model => item.meterId, new { @class = "form-control collapse", @readonly = true })
                                                                @Html.ValidationMessageFor(model => item.meterId, "", new { @class = "text-danger" })
                                                            </td>
                                                            <td class="text-left col-6" style="word-wrap: break-word">
                                                                @Html.TextBoxFor(model => item.modbusid, new { @class = "form-control col-sm-6" })
                                                                @Html.ValidationMessageFor(model => item.modbusid, "", new { @class = "text-danger" })
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>



                                            <div>
                                                <p id="msg" style="color:red">
                                                </p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-footer col-md-12 text-center">
                                            <button type="submit" class="btn btn-danger btnDelete" id="btnDelete"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</button>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")

<script>

    var select = document.getElementById('ddlMeters');
    multi(select, {
        non_selected_header: 'Available Meters',
        selected_header: 'Selected',

    });

    $('#btnCreate').click(function () {
        return $("#ddlMeters").valid();
    });

    $(document).ready(function () {

        if ('@ViewBag.CreateAccess' == "False") {
            $("#btnCreate").hide();
        }
        if ('@ViewBag.EditAccess' == "False") {
            $(".btnEdit").hide();
        }
        if ('@ViewBag.DeleteAccess' == "False") {
            $(".btnDelete").hide();
        }

        var obj = '@Html.Raw(Json.Encode(@ViewBag.CommunicationDetail))';


        data = JSON.parse(obj);
        debugger;
        //addMeters();
    });

    $('#ddlMeters').change(function () {
        addMeters();
    });

    function addMeters() {

        //$("#tableOne").removeClass("collapse");
        $("#ddlMeters").valid();
        //console.log($("#acsReaderInfos option:selected").length);
        if ($("#ddlMeters option:selected").length > 0) {
            debugger;
            $("#tableOne tbody").empty();
            var x = $("#ddlMeters option:selected").val();
            var items = $("#ddlMeters option:selected");
            var i = 0;
            @{
                var i = 0;
            }
            var row = ''
            $.each(items, function (key, value) {
                console.log(key);
                console.log(value.value);

                    row += '<tr>';
                    row += '<td class="col-sm-6"><center>' + value.text + '</center>';
                    var meterId = '@Html.TextBoxFor(model => Model.meters[i].meterId, new { @class = "form-control collapse", Value = "" + i + "", @readonly = true })';
                    var meterIdval = '@Html.ValidationMessageFor(model => Model.meters[i].meterId, "", new { @class = "text-danger" })'
                    meterId = meterId.replace("[0]", "[" + key + "]");
                    meterId = meterId.replace("0", value.value);
                    meterId = meterId.replace("0", key);
                    meterIdval = meterIdval.replace("[0]", "[" + key + "]");
                    meterIdval = meterIdval.replace("0", key);
                    row += meterId + meterIdval;
                    row += '</td>';
                    row += '<td class="col-sm-6"><center>';

                    var modbusid = '@Html.TextBoxFor(model => Model.meters[i].modbusid, new { @class = "form-control col-sm-6", Value = "modbus" })';
                    var modbusidval = '@Html.ValidationMessageFor(model => Model.meters[i].modbusid, "", new { @class = "text-danger" })'
                    modbusid = modbusid.replace("[0]", "[" + key + "]");
                    modbusid = modbusid.replace("0", key);
                    var index = findWithAttr(data.meters, 'meterId', value.value);
                    if (index == -1) {
                        modbusid = modbusid.replace("modbus", "1");
                    }
                    else {
                        modbusid = modbusid.replace("modbus", data.meters[index].modbusid);
                    }
                    modbusidval = modbusidval.replace("[0]", "[" + key + "]");
                    modbusidval = modbusidval.replace("0", key);
                    row += modbusid + modbusidval;

                    row += '</center></td>';

                    row += '</tr>';

                    i++;

            });
            $("#tableOne tbody").append(row);
            var form = $("form");
            form.data('validator', null);
            $.validator.unobtrusive.parse(form);

        }
        else {
            $("#tableOne tbody").empty();
        }
    }

    function findWithAttr(array, attr, value) {
        for (var i = 0; i < array.length; i += 1) {
            if (array[i][attr] == value) {
                return i;
            }
        }
        return -1;
    }

</script>