@model IEnumerable<GridLogik.ViewModels.clsOpcname>

@{
    ViewBag.Title = "Index";
}

<style>
    tr td {
        padding: 0px;
    }
</style>
<script>
    $(document).ready(function () {
        if ('@ViewBag.CreateAccess' == "False") {
            $("#btnCreate").hide();
        }
        if ('@ViewBag.EditAccess' == "False") {
            $(".btnEdit").hide();
        }
        if ('@ViewBag.DeleteAccess' == "False") {
            $(".btnDelete").hide();
        }
        $("#lsttable").dataTable(
                         {
                             pageLength: 10,
                             "aoColumns": [
                                         null,
                                         null,
                                         { "bSortable": false, "width": "144px" }
                             ]
                         });

    })
</script>
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Employee</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">OPC Tag Name</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">
                                        @Html.ActionLink(" Create New", "create", "OpcShortName", null, new { @id = "btnCreate", @class = "fa fa-plus-circle text-white btn btn-success pull-right btn-sm btnCreateClass" })
                                        <table id="lsttable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Meter Name </th>
                                                    <th class="text-center">OPC Tag Name</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.mopname)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.opc_shortname)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.ActionLink(" Edit", "Edit", new { id = item.id }, new { @class = "btn btn-xs btn-warning fa fa-pencil-square-o" }) &nbsp;

                                                            @Html.ActionLink(" Delete", "Delete", new { id = item.id }, new { @class = "btn btn-xs btn-danger fa fa-trash-o" })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
