@model IEnumerable<GridLogik.ViewModels.MeterType>

@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script>

        $(document).ready(function () {
            if ('@ViewBag.CreateAccess' == "False") {
                $("#btnCreate").hide();
            }
            if ('@ViewBag.EditAccess' == "False") {
                $(".btnEdit").hide();
            }
            if ('@ViewBag.DeleteAccess' == "False") {
                $(".btnDelete").hide();
            }
            $("#lsttable").dataTable(
                            {
                                pageLength: 10,
                                "aoColumns": [
                                            null,
                                            null,
                                            { "bSortable": false, "width": "144px"}
                                ], "scrollX": true
                            });


        });

    </script>
}
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Meter Type</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Masters</a></li>
                        <li class="active">Meter Type</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">
                                        @*<button class="btn btn-success pull-right btn-sm"><i class="fa fa-plus-circle"></i> Create New</button>*@
                                            
                                        @*<div class="clearfix"></div>
                                        <hr />*@
                                        <div>
                                            @Html.ActionLink(" Create New", "create", "MeterType", null, new { @id = "btnCreate", @class = "fa fa-plus-circle text-white btn btn-success pull-right btn-sm btnCreateClass" })
                                            <table id="lsttable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Type</th>
                                                        <th class="text-center">Description</th>
                                                        <th class="text-center">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="data">
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td class="text-center">
                                                                @Html.DisplayFor(modelItem => item.MeterTypeName)
                                                            </td>
                                                            <td class="text-center">
                                                                @Html.DisplayFor(modelItem => item.meterdescription)
                                                            </td>
                                                            <td class="text-center">
                                                                 @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "fa fa-pencil-square-o text-white btn btn-xs btn-warning btnEdit" })
                                                                 @Html.ActionLink(" Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-trash-o text-white btn btn-xs btn-danger btnDelete" })
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
