@{
    ViewBag.Title = "UPLOAD";
}
@section scripts
{

    <script>

        $(document).ready(function () {
            ExcelHide(1);
            $.ajax({
                type: "GET",
                async: false,
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "prmglobal/GetIdentifiersOnModule/dcsgStage",
                dataType: "json",
                success: function (gender, status, jqXHR) {
                    var str = "<option value=''>Select</option>";
                    if (gender.Data.result != undefined) {
                        var data = gender.Data.result;
                        for (var i in data) {
                            str += "<option value=" + data[i].prmvalue + ">" + data[i].prmidentifier + "</option>";
                        }
                    }

                    $("#drpstageid").append(str);

                }

            });

            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "prmglobal",
                dataType: "json",
                async: false,
                success: function (dateformat, status, jqXHR) {
                    var str = "";
                    if (dateformat.Data.result != undefined) {
                        var data = dateformat.Data.result;
                        for (var i in data) {
                            if (data[i].prmunit == "DateField") {
                                $("#Dateformat").val(data[i].prmvalue);
                            }
                            else if (data[i].prmunit == "ServerDate") {
                                $("#ServerDateformat").val(data[i].prmvalue);
                            }
                        }

                    }
                    else if (dateformat.Data.e == "E") {
                        if (dateformat.Data.d.length > 0)
                            alert(dateformat.Data.d, '', false, 'E');
                    }
                }
            });

            var DateFormat = $("#Dateformat").val();
            $("#txtFrmDate").datepicker({
                dateFormat: $("#Dateformat").val(),
                // maxDate: "-0D",
                changeMonth: true,
                changeYear: true

            }).datepicker("setDate", new Date());

            $("#txtSearchAppdate").datepicker({
                dateFormat: $("#Dateformat").val(),
                //maxDate: "-1D",
                changeMonth: true,
                changeYear: true
            }).datepicker("setDate", new Date());


            $('input[name^="Uploadfile"]').each(function () {
                $(this).rules('add', {
                    required: true
                })
            })

            if ('@TempData["Msg"]' != '' && '@TempData["MsgType"]' != '') {

                if ('@TempData["Msg"]' == 'Code already exists') {
                    var result = confirm("Records Already Exist for This date. Do you want to update?");


                    if (result == true) {

                    }
                    else {

                    }

                }
                else {

                    @*alert('@TempData["Msg"]', '', false, '@TempData["MsgType"]')*@

                }

            }

            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            var stageid = $('#drpstageid :selected').val();
            var selectedtext = $('#drpstageid :selected').text();
            if (selectedtext != 'Select') {
                GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid, "");

            }
            $("#drpstageid").change(function () {
                var stageid = $('option:selected', this).val();
                var selectedtext = $('#drpstageid :selected').text();
                ClearTable();
                $('#drpstageid :selected').val();
                $('#drpstageid :selected').text();
                $("#divRevision").empty();
                if (selectedtext != 'Select' && $('#txtFrmDate').val() != "") {
                    GetRivisionList($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid)
                }
                //if (selectedtext != 'Select') {
                //    GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid, "0");
                //}
            });
            $('#txtFrmDate').on("propertychange change keyup paste input", function () {
                if ($('#txtFrmDate').val() == "") {
                    return;
                }
                var str = $('#txtFrmDate').val().replace('/', '-');
                str = str.replace('/', '-');
                //$('#lblappdate').text(((response.tstamp == null) ? " " : newdate));
                $('#lblappdate').text($('#txtFrmDate').val());
                var stageid = $('#drpstageid :selected').val();

                var selectedtext = $('#drpstageid :selected').text();
                var resion = "0";
                ClearTable();
                $('#drpstageid :selected').val();
                $('#drpstageid :selected').text();



                try {
                    resion = $('#ddlRevision :selected').val();
                }
                catch (err) {
                    resion = "0";
                }
                if (selectedtext != 'Select' && $('#txtFrmDate').val() != "") {
                    GetRivisionList($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid)
                }

                if (selectedtext != 'Select') {
                    GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid, resion);
                }
            });

            $('#btnSubmit').on('click', function (event) {
                if ($('#txtFrmDate').val() == '') {
                    event.preventDefault();
                    alert('Date is mandatory.', '', false, "M");

                }
                if ($('#drpstageid :selected').text() == 'Select') {

                    alert('Stage is mandatory.', '', false, "M");
                    event.preventDefault();

                    return;

                }
            });

            $('#btnSearch').on('click', function () {
                var stageid = $('#drpstageid :selected').val();
                var selectedtext = $('#drpstageid :selected').text();

                $('#drpstageid :selected').val();
                $('#drpstageid :selected').text();

                if (selectedtext != 'Select' && $('#txtFrmDate').val() != "") {
                    GetRivisionList($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid)
                }
                if (selectedtext != 'Select') {
                    GetData($('#txtSearchAppdate').val().replace('/', '-').replace('/', '-'), stageid);
                }
            });

            if ($('input[type=radio][name=mode]').val == 'Search') {
                $('#uploadtable').hide();
                $('#searchtable').show();
            }
            else {
                $('#uploadtable').show();
                $('#searchtable').hide();
            }

            $('input[type=radio][name=mode]').change(function () {
                if (this.value == 'Search') {
                    $('#uploadtable').hide();
                    $('#searchtable').show();
                }
                else if (this.value == 'Upload') {
                    $('#uploadtable').show();
                    $('#searchtable').hide();
                }
            });


            if ($('#lblappdate').text() == "") {
                $('#lblappdate').text($('#txtFrmDate').val());
            }
            ///---
            return false;
        });

        function deleterecord() {

            //    $('#btnSubmit').click();
        }
        function RevisionChange() {
            var stageid = $('#drpstageid :selected').val();
            var selectedtext = $('#drpstageid :selected').text();
            var ddlRevision = $('#ddlRevision :selected').val();
            var ddlRevisionText = $('#ddlRevision :selected').text();
            if (selectedtext != 'Select' && ddlRevisionText != 'Select') {
                GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid, ddlRevision);
            }
        }
        function GetData(dt, stageid, revision) {
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",//type of data to be send

                url: BaseAddress + "DCSGRevisionWiseAPI/GetData" + "/" + dt + "/" + stageid + "/" + revision,
                dataType: "json",//type of data to be received
                success: function (rates, status, jqXHR) {
                    var str = "";
                    if (rates.Data.result != undefined) {
                        rates.Data.result.forEach(function (response) {

                            str += "<tr>" +
                                "<td>" + ((response.blockno == null) ? " " : response.blockno) + "</td>" +
                                 "<td>" + ((response.sgvalue == null) ? " " : response.sgvalue) + "</td>" +
                                //"<td>" + ((response.dcvalue == null) ? " " : response.dcvalue) + "</td>" +
                                "<td>" + ((response.fuelcost == null) ? " " : response.fuelcost) + "</td>" +
                                "</tr>";

                            var parts = response.tstamp.substring(0, 10).split('-');
                            var newdate = parts[2] + '-' + parts[1] + '-' + parts[0];
                        });

                    }
                    ExcelHide(2);
                    if (rates.Data.e == "E") {
                        ExcelHide(1);
                        if (rates.Data.d.length > 0)
                            alert(rates.Data.d, '', false, "E");

                    }
                    if (rates.Data.e == "M") {
                        ExcelHide(1);
                        if (rates.Data.d.length > 0)
                            alert(rates.Data.d, '', false, "M");

                    }



                    if ($.fn.dataTable.isDataTable('#lsttable')) {
                        var table = $('#lsttable').dataTable();

                        table.fnClearTable();
                        table.fnDestroy();
                        $("#data").html(str);

                        $("#lsttable").dataTable(
                            {
                                pageLength: 10,
                                "aoColumns": [
                                            null,
                                            null,
                                            null,
                                            null//,
                                           // null
                                ]
                            });

                        Highlight();
                    }
                    else {
                        var s = "";
                        $("#data").html(str);

                        $("#lsttable").dataTable(
                           {
                               pageLength: 10,
                               "aoColumns": [
                                           null,
                                           null,
                                           //null,
                                           null//,
                                          // null
                               ]
                           });

                        Highlight();
                    }
                    if (box) box.remove();
                },
                error: function (xhr, status, error) {
                    // alert(error);
                    if (box) box.remove();
                }
            });

        }
        function GetRivisionList(dt, stageid) {
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",//type of data to be send
                url: BaseAddress + "DCSGRevisionWiseAPI/MaxRevisionDetail/" + dt + "/" + stageid,
                dataType: "json",//type of data to be received
                success: function (maxRevision, status, jqXHR) {
                    var rvision = maxRevision;
                    var str = " <select id='ddlRevision' class='form-control' onchange='RevisionChange()'><option value=''>Select</option>";
                    if (rvision != 0) {
                        for (var i = 1; i <= rvision; i++) {
                            str += "<option value=" + i + ">" + i + "</option>";
                        }
                    }
                    str += "</select>";
                    $("#divRevision").empty();
                    $("#divRevision").append(str);
                },
                error: function (xhr, status, error) {
                    // alert(error);
                    if (box) box.remove();
                }
            });
        }
        function ClearTable() {
            ExcelHide(1);
            if ($.fn.dataTable.isDataTable('#lsttable')) {
                var table = $('#lsttable').dataTable();

                table.fnClearTable();
                table.fnDestroy();

            }
            else {
                $("#data").empty();
            }
        }
        function Export() {
            if ($('#drpstageid :selected').val() == "0" || $('#drpstageid :selected').val() == "") {
                alert('Please Select Stage', '', false, "M");
                return false;
            }
            if ($('#txtFrmDate').val() == "" || $('#txtFrmDate').val() == "") {
                alert('Please Select Date', '', false, "M");
                return false;
            }

            var stageid = $('#drpstageid :selected').val();
            var selectedtext = $('#drpstageid :selected').text();
            var ddlRevision = $('#ddlRevision :selected').val();
            var ddlRevisionText = $('#ddlRevision :selected').text();
            var dates = $('#txtFrmDate').val().replace('/', '-').replace('/', '-');
            var LabelValue = dates + "~" + stageid + "~" + ddlRevision;;
            var SelectValue = $('#txtFrmDate').val() + "~" + selectedtext + "~" + ddlRevisionText;
            document.getElementById('InputString').value = SelectValue;
            document.getElementById('InputStr').value = LabelValue;
        }
        function ExcelHide(flag) {
            if (flag == 1) {
                $('#divExcel').hide();
            } if (flag == 2) {
                $('#divExcel').show();
            }
        }
    </script>

}


<h2>SCHEDULE DRAWAL</h2>

<p style="text-align:right;">
    @using (Html.BeginForm("Upload", "DCSGRaheja", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*@Html.Hidden("DatabaseDateformat", "dd/mm/yy")
            @Html.Hidden("ServerDatabaseDateformat")*@

        <input id="Dateformat" name="Dateformat" type="hidden" />
        <input id="ServerDateformat" name="ServerDateformat" type="hidden" />



        <table style="width:300px;display:none;">
            <tr>
                <td><input id="rdoupload" value="Upload" type="radio" name="mode" checked>Upload</td>
                <td><input id="rdosearch" value="Search" type="radio" name="mode">Search</td>
            </tr>
        </table>
        <table id="uploadtable" style="float:left;">
            <tr>

                <td colspan="1">
                    @*<input type="file" name="Uploadfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />*@
                    <input type="file" name="Uploadfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="width: 200px;" />
                </td>
                <td>
                    <input id="txtstageid" name="txtstageid" value="1" class="form-control" type="text" style="display:none;" />
                </td>
                <td>
                    <input id="txtrevisionid" name="txtrevisionid" value="1" class="form-control" type="text" style="display:none;" />
                </td>
                <td>Applicable Date </td>
                <td>
                    <div id="dtFrmDate" style="width: 150px;">
                        <input id="txtFrmDate" name="txtFrmDate" class="form-control" type="text" readonly />
                    </div>
                </td>
                <td>Stage ID</td>
                <td>
                    <select id="drpstageid" name="drpstageid" class="form-control"></select>
                </td>
                <td>Revision ID</td>
                <td>
                    <div id='divRevision' style="width: 75px;">

                    </div>
                </td>

                <td colspan="3" style="text-align:left;align-items:flex-start">
                    <input type="submit" name="Upload" value="Upload" id="btnSubmit" class="btn btn-success" />
                    @*<input type="button" name="Upload" value="Upload" id="btnSubmit" class="btn btn-success" />*@
                    @Html.ActionLink("Download Template", "download", "DCSGRaheja", null, new { @id = "btnDownload", @class = "btn btn-success" })
                </td>

            </tr>
        </table>
        <table id="searchtable" style="float:left;text-align:left; " align="left">
            <tr>
                <td style="text-align: left; width: 151px;">Applicable Date </td>
                <td width="260px">
                    <div id="dtAppDate">
                        <input id="txtSearchAppdate" name="txtSearchAppdate" class="form-control" type="text" readonly />
                    </div>
                </td>
                <td align="left" style="text-align:left;float:left;">
                    <input type="button" name="Search" value="Search" id="btnSearch" class="btn btn-success" />
                </td>
            </tr>

        </table>


    }

    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table style="width: 300px; margin-bottom: 6px;">
    <tr>
        <td style="text-align:left;">Data For Applicable Date: <span id="lblappdate"></span></td>
    </tr>
</table>
<table id="lsttable">

    <thead>
        <tr>
            <th width="5%" style="text-align:center">Block No</th>
            <th width="14%" style="text-align:center">SD</th>
            @*<th width="14%" style="text-align:center">DC</th>*@
            <th width="14%" style="text-align:center">Unit Cost</th>
            @*<th width="14%" style="text-align:center">FC</th>*@

        </tr>
    </thead>
    <tbody id="data"></tbody>

</table>
<div id="divExcel">
    <div class="form-group col-md-3" style="border:0px solid #000; padding:0px; margin:0px 0px;  text-align:left;">
        <label style="border:0px solid #000; padding:0px; margin:0px 0px;" for="select">&nbsp;</label>
        @using (Html.BeginForm("Export", "DCSGRaheja", FormMethod.Get, new { id = "ExcelForm" }))
        {
            @Html.Hidden("InputString")
            @Html.Hidden("InputStr")
            @*<button class="btn btn-success"  id="btnExport" type="button">Export to Excel</button>*@
            <button type="submit" class="btn btn-success" onclick="return Export()" id="btnExport" style="font-weight:bold;  margin:0px 10px;">Export To excel</button>
        }
    </div>
</div>