@model GridLogik.ViewModels.ConsumerCategory

@{
    ViewBag.Title = "Delete";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script>
        $(document).ready(function () {
        
        if ('@ViewBag.CreateAccess' == "False") {
            $("#btnCreate").hide();
        }
        if ('@ViewBag.EditAccess' == "False") {
            $(".btnEdit").hide();
        }
        if ('@ViewBag.DeleteAccess' == "False") {
            $(".btnDelete").hide();
        }

            //$.ajax({
            //    type: "GET",
            //    contentType: "application/json;charset=utf-8",
            //    //url: "http://localhost/GridLogikViewerWebAPI/api/Tariff",
            //    url: BaseAddress + "tariff",
            //    dataType: "json",
            //    async: false,
            //    success: function (tariffs, status, jqXHR) {
            //        var str = "";
            //        if (tariffs.Data.result != undefined) {
            //            var data = tariffs.Data.result;
            //            for (var i in data) {
            //                str += "<option value=" + data[i].trfid + ">" + data[i].trfschemename + "</option>";
            //            }
            //        }
            //        else if (tariffs.Data.e == "E") {
            //            if (tariffs.Data.d.length > 0)
            //                alert(tariffs.Data.d);
            //        }

            //        $("#Tariffs").html(str);
            //        $(".tariffclass").selectpicker();
            //    }
            //});





            //  new confirmexitmsg('form');

            var id =@this.ViewContext.RouteData.Values["id"]
                //$.ajax({
                //    //url: "http://localhost:8487/GridLogikViewerWebAPI/api/consumercategory/" + id,
                //    url: BaseAddress + "consumercategory/" + id,
                //    type: "GET",
                //    contentType: "application/json;charset=utf-8",//type of data to be send
                //    dataType: "json",//type of data to be received
                //    async: false,
                //    success: function (response) {
                //        if (response.Data.result.ccatrecid == null) {
                //            if (response.Data.d.length > 0)
                //                alert(response.Data.d, '', false, 'S');
                //        }
                //        else {
                //            $("#ccatrecid").val(response.Data.result.ccatrecid);
                //            $("#ccatid").val(response.Data.result.ccatid);
                //            $("#ccatdescription").val(response.Data.result.ccatdescription);
                //            if (response.Data.result.cfixedstatus == 1) {
                //                $("#cfixedstatus").prop("checked", true);
                //            }
                //            //$(".tariffclass").selectpicker('val', response.Data.result.cctariffid);

                //        }
                //    },
                //    error: function (xhr) {
                //        alert(xhr.responseText, '', false, 'E');
                //    }
                //});




            $("#btnDelete").click(function (e) {
                //var msg = confirm(DeleteMessage);
            });
        });


        function deleterecord() {
            @*var mstconsumercategory = {
                "ccatrecid": $("#ccatrecid").val(),
                "ccatid": $("#ccatid").val(),
                "ccatdescription": $("#ccatdescription").val(),
                //"cctariffid": $("#cctariffid :selected").val(),
                "ccatisdeleted": 1,
                "cfixedstatus": $("#cfixedstatus").prop("checked") == true ? 1 : 0

            };
            var RecordID = $("#ccatrecid").val();
            $.ajax({
                type: "PUT",
                contentType: "application/json;charset=utf-8",//type of data to be send
                //url: "http://localhost:8487/GridLogikViewerWebAPI/api/consumercategory/" + RecordID,
                url: BaseAddress + "consumercategory/" + RecordID,
                //crossDomain: true,
                dataType: "json",//type of data to be received
                data: JSON.stringify(mstconsumercategory),//data to be send
                success: function (response) {

                    if (response.Data.e == "S") {
                        alert(response.Data.d, '@Url.Action("Index", "ConsumerCategory")', false, 'S');
                        //window.location.href = '@Url.Action("Index", "ConsumerCategory")';
                    }
                    else if (response.Data.e == "M") {
                        alert(response.Data.d, '', false, 'M');;
                    }
                    else if (response.Data.e == "E") {
                        alert(response.Data.d, '', false, 'E');
                    }

                },
                error: function (xhr, status, error) {

                    alert(xhr.responseText, '', false, 'E');;
                }
            });*@


        }
    </script>

}
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">User Master</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Masters</a></li>
                        <li class="active">Consumer Category</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">

                            <!--Table Wrapper Start-->

                            <a class="btn btn-warning pull-right btn-sm" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <i class="fa fa-trash-o"></i>  <strong>DELETE</strong>
                                </div>

                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.HiddenFor(model => model.categoryrecid)
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="text-input">Code </label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.categoryid, new { @readonly = true, @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="text-input">Description</label>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(model => model.categorydescription, new { @readonly = true, @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="text-input">Fixed Charge Applicable <span class="validation-redcolor">*</span></label>
                                                    <div class="col-md-3">
                                                            @Html.CheckBoxFor(model => model.checkcategoryfixedstatus, new { @readonly = true, @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer col-md-12 text-center">
                                            <button type="submit" class="btn btn-danger btnDelete" id="btnDelete"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</button>
                                        </div>
                                    }
                                    <div style="padding-bottom:20px">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")