@model IEnumerable<GridLogik.ViewModels.HTAlarm>

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_EToolsLayout1.cshtml";
}

<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header col-md-6">
                            Alarm Log
                        </h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb col-md-12 text-left bgn">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Logs</a></li>
                        <li class="active">NIU Log</li>
                    </ol>
                    <!--Top breadcrumb start -->

                    <div class="row  mb55">
                        <div class="col-md-12">
                            <!--Table Wrapper Start-->
                            <hr />
                            <div class="panel panel-light-blue">
                                @*<div class="panel-heading">
                                        <span class="pull-left">
                                            <strong>
                                                NIU Log
                                            </strong>
                                        </span>
                                        <div class="clearfix"></div>
                                    </div>*@
                                <div class="panel-body">
                                    <div class="row mb5">
                                        <div class="col-md-4">
                                            <div class="row mt20">
                                                <div class="col-md-4 text-right">
                                                    <label><strong> From Date	 </strong></label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBox("Day", string.Empty, new { @id = "FromDate", @class = "form-control", @readonly = true, @name = "txtFrmDate" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row mt20">
                                                <div class="col-md-4 text-right">
                                                    <label><strong> To Date	 </strong></label>
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBox("Day", string.Empty, new { @id = "ToDate", @class = "form-control", @readonly = true, @name = "txtFrmDate" })
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="row mt20">
                                                <div class="col-md-6 text-left">
                                                    <label> Status</label>
                                                    &nbsp;@Html.RadioButton("Status", "1", true, new { @ID = "Statused", @name = "Status" }) Active&nbsp;&nbsp;
                                                    @Html.RadioButton("Status", "0", new { @ID = "Status", @name = "Status" })History
                                                </div>
                                                <div class="col-md-4 text-left">
                                                    <input type="button" value="Filter" class="btn btn-warning" id="btnRefresh" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb5">
                                        <div class="col-md-12">
                                            <hr />
                                            <div class="table-responsive ls-table" id="exportexcel">
                                                <table class="table table-bordered table-striped" id="lsttable">
                                                    <thead>
                                                        <tr>
                                                            <th class="test-center">Converter Id</th>

                                                            @*<th>Meter ID</th>*@
                                                            <th class="test-center">Converter Ip</th>

                                                            <th class="test-center">Start Time</th>
                                                            <th class="test-center">Stop Time</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="filterdata">
                                                        @foreach (var item in Model)
                                                        {
                                                        <tr>
                                                            <td class="test-center">
                                                                @Html.DisplayFor(modelItem => item.alarmid)
                                                            </td>
                                                            @*<td>
                                                                    @Html.DisplayFor(modelItem => item.meterid)
                                                                </td>*@
                                                            <td class="test-center">
                                                                @Html.DisplayFor(modelItem => item.converterip)
                                                            </td>


                                                            <td class="test-center">
                                                                @Html.DisplayFor(modelItem => item.starttimelog)
                                                            </td>
                                                            <td class="test-center">
                                                                @Html.DisplayFor(modelItem => item.stoptimelog)
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                                <br />
                                                <button type="button" class="fa fa-file-excel-o btn btn-success btn-sm" id="export"> Export to Excel</button><div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.table2excel.js"></script>
<script>
    var count = "";
    $(document).ready(function () {

        $("#FromDate,#ToDate").datepicker({
            dateFormat: $("#DateField").val(),
            changeMonth: true,
            changeYear: true,
            maxDate: '0'

        }).datepicker("setDate", new Date());
        $("#btnRefresh").on("click", function () {
            $("#filterdata").html("");

            var fltrFromDate = $("#FromDate").val();
            var fltrToDate = $("#ToDate").val();
            console.log("start date " + fltrFromDate);
            console.log("end date " + fltrToDate);
            var type = $('input:radio[name=Status]:checked').val()
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            var dataJSON = { "fltrFromDate": fltrFromDate, "fltrToDate": fltrToDate, "onoff": type };
            $.ajax({
                url: BaseAddress + 'MeterLog/NiuLogAPIFilter',
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                data: JSON.stringify(dataJSON),
                success: function (response, status, jqXHR) {
                    debugger;
                    var str = "";
                    //   debugger;
                    response.forEach(function (response) {
                        //  alert('');
                        str += "<tr>" +
                              "<td>" + response.alarmid + "</td>" +
                              "<td>" + response.converterip + "</td>" +
                              "<td align='center'>" + response.starttimelog + "</td>" +
                               "<td align='center'>" + response.stoptimelog + "</td>" +

                              "</tr>";

                    });
                    //$("#lsttable").empty();
                    //starts here
                    var table = $('#lsttable').dataTable();

                    table.fnClearTable();
                    table.fnDestroy();
                    $("#filterdata").html(str);

                    $("#lsttable").dataTable(
                        {
                            pageLength: 10,
                            "scrollX": true
                        });

                    if (box) box.remove();
                    count = $("#Export to Excel").html();
                    //ends here
                    //var table = $('#lsttable').dataTable();
                    //table.fnClearTable();
                    //table.fnDestroy();
                    //$("#filterdata").html(str);

                    //$("#lsttable").dataTable(
                    //    {
                    //        pageLength: 10,
                    //         "scrollX": true
                    //    });
                    if (box) box.remove();
                    count = $("#exportexcel").html();
                }, error: function (xhr, status, error) {
                    alert(xhr.responseText);
                    if (box) box.remove();
                }
            });
        })
        count = $("#exportexcel").html();
        

        $('#export').click(function () {
            @*debugger;
         box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
         var actionUrl = '@Url.Action("ExportNiu", "MeterLog")';
         window.open("ExportNiu");
         if (box) box.remove();*@
            var tblRowCount = $('#lsttable tr').length;
            var fltrFromDate = $("#FromDate").val();
            var fltrToDate = $("#ToDate").val();
            var type = $('input:radio[name=Status]:checked').val();
            var obj = { "fltrFromDate": fltrFromDate, "fltrToDate": fltrToDate, "onoff": type };
            if (tblRowCount > 2) {
                window.location.href = "@Url.Action("ExportNiu", "MeterLog")?Page=data&fltrFromDate=" + fltrFromDate + "&fltrToDate=" + fltrToDate + "&onoff=" + type;
            }
            else {
                alert('No Records Found for Excel Generation', '', false, 'E');
                return false;
            }
            //////var currentdate = new Date()
            //////var day = currentdate.getDate()
            //////var month = currentdate.getMonth() + 1
            //////var year = currentdate.getFullYear()
            //////var d = day + "-" + month + "-" + year;
            //////$(count).table2excel({
            //////    exclude: ".noExl",
            //////    name: "History Data",
            //////    filename: "Niulog"+d,
            //////    fileext: ".xls",
            //////    exclude_img: true,
            //////    exclude_links: true,
            //////    exclude_inputs: true
            //////});
        });
    });
    $(window).load(function () {
        $("#lsttable").dataTable(
                       {
                           pageLength: 10
                       });
    })
</script>
