@model GridLogik.ViewModels.MstUtility

@using GridLogikViewer.Extensions
@{
    ViewBag.Title = "Welcome to GridLogikViewer";

}

<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">User Master</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Masters</a></li>
                        <li class="active">Utility</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">

                            <!--Table Wrapper Start-->

                            <a class="btn btn-warning pull-right btn-sm" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <i class="fa fa-trash-o"></i>  <strong>DELETE</strong>
                                </div>

                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                                <div class="form-horizontal">

                                                    <div class="form-group col-md-12">
                                                        @Html.HiddenFor(model => model.utilrecid)
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        @Html.LabelForRequired(model => model.utilid, null, "control-label col-md-2")
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.utilid, new { @class = "form-control", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.utilid, null, new { @class = "validation-redcolor" })
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-md-6">
                                                        @Html.LabelForRequired(model => model.utilname, null, "control-label col-md-2")
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.utilname, new { @class = "form-control", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.utilname, null, new { @class = "validation-redcolor" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        @Html.LabelForRequired(model => model.utiladdress1, null, "control-label col-md-2")
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.utiladdress1, new { @class = "form-control", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.utiladdress1, null, new { @class = "validation-redcolor" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        @Html.LabelForRequired(model => model.utiladdress2, null, "control-label col-md-2")
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.utiladdress2, new { @class = "form-control", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.utiladdress2, null, new { @class = "validation-redcolor" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        @Html.LabelForRequired(model => model.utiladdress3, null, "control-label col-md-2")
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.utiladdress3, new { @class = "form-control", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.utiladdress3, null, new { @class = "validation-redcolor" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        @Html.LabelForRequired(model => model.utilpin, null, "control-label col-md-2")
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.utilpin, new { @maxlength = "6", @class = "form-control", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.utilpin, null, new { @class = "validation-redcolor" })
                                                        </div>
                                                    </div>
                                                        <div class="panel-footer col-md-12 text-center">
                                                            <button type="submit" class="btn btn-danger" id="btnDelete"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</button>
                                                        </div>
                                                </div>
                                    }
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
@Scripts.Render("~/bundles/jqueryval")