@{
    ViewBag.Title = "Invoice Generation";
    <style>
        .form-control {
            padding: 6px 10px !important;
        }

        .ErrorMessage {
            color: red !important;
            padding-top: 10px !important;
            padding-bottom: 10px !important;
            align-items: center !important;
            margin-left: 30% !important;
        }

        #btnExport {
            width: 100px !important;
            /*margin-top: -75% !important;*/
            position: absolute;
            left: 10 px;
        }

        td, th {
            text-align: center !important;
        }
    </style>
    <style>
        #btnExport {
            width: 100px !important;
            position: absolute;
            left: 30px;
        }
    </style>
    @*<link href="~/Content/css/style-stickyheader.css" rel="stylesheet" />
        <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />*@
}

@section scripts
{
    <script>
        var box;
        $(document).ready(function () {

            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "prmglobal",
                dataType: "json",
                async: false,
                success: function (dateformat, status, jqXHR) {
                    var str = "";
                    if (dateformat.Data.result != undefined) {
                        var data = dateformat.Data.result;
                        for (var i in data) {
                            if (data[i].prmunit == "DateField") {
                                if (data[i].prmvalue != undefined && data[i].prmvalue != "") {
                                    $("#DatabaseDateformat").val(data[i].prmvalue);
                                }
                            }
                            else if (data[i].prmunit == "ServerDate") {
                                //  $("#ServerDatabaseDateformat").val('dd/MM/yy');
                                $("#ServerDatabaseDateformat").val(data[i].prmvalue);
                            }
                        }

                    }
                    else if (dateformat.Data.e == "E") {
                        if (dateformat.Data.d.length > 0)
                            alert(dateformat.Data.d);
                    }
                }
            });
            HideGrid();
            Group();
        });
    </script>
    <script type="text/javascript">
        function Group() {
            //  var BaseAddress = "http://localhost:8487/EToolsAPI/api/";


            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "InvoiceGenerationAPI/GetGroupNamePDF?Userid=" + @HttpContext.Current.Session["usrrecid"] +"",
                dataType: "json",
                success: function (substation, status, jqXHR) {
                    var str = "";
                    if (substation.Data.result != undefined) {
                        if (substation.Data.result.length > 0) {
                            var data = substation.Data.result;
                            str += "<select id='ddlMeterGroup' onchange='onChangeGrp()' class='form-control'>";
                            str += "<option value=0>Meter Group</option>";
                            for (var i in data) {
                                if (data[i].groupname != undefined && data[i].groupname != "" && data[i].id != undefined && data[i].id != "") {
                                    str += "<option value=" + data[i].id.toString() + ">" + data[i].groupname + "</option>";
                                }
                            }
                            str += "</select>";
                        } else {
                            str += "<select id='ddlMeterGroup' onchange='HideGrid()' class='form-control'>";
                            str += "<option value=0>Meter Group</option>";
                            str += "</select>";
                        }
                    }
                    else if (substation.Data.e == "E") {
                        if (substation.Data.d.length > 0)
                            alert(substation.Data.d);
                    }
                    $("#ddllMgrp").html(str);
                    if (box) box.remove();
                }
            });
        }
        function CategoryDropdown(grpName) {
            // var BaseAddress = "http://localhost:8487/EToolsAPI/api/";
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "InvoiceGenerationAPI/GetInvoiceCategoryLists/" + grpName,
                dataType: "json",
                success: function (substation, status, jqXHR) {
                    var str = "";
                    if (substation.Data.result != undefined) {
                        str += "<select id='ddlCat' onchange='onChangeCat()' class='form-control'>";
                        str += "<option value=0>Select Category</option>";
                        if (substation.Data.result.length > 0) {
                            var data = substation.Data.result;

                            for (var i in data) {
                                if (data[i].CategoryName != undefined && data[i].CategoryName != "" && data[i].CategoryCode != undefined && data[i].CategoryCode != "") {
                                    str += "<option value=" + data[i].CategoryCode + ">" + data[i].CategoryName + "</option>";
                                }
                            }
                        }
                    }
                    else if (substation.Data.e == "E") {
                        if (substation.Data.d.length > 0)
                            alert(substation.Data.d);
                    }
                    str += "</select>";
                    $("#divCategory").html(str);
                }
            });
        }

        function onChangeGrp() {
            var grp = $('#ddlMeterGroup').val();
            var str = "";
            var str1 = "";
            HideGrid();
            try {
                $("#divCategory").empty();
                $("#divDate").empty();
            } catch (ex) {
            }
            if (grp == 0) {


                str1 += "<select id='ddlCat' onchange='onChangeCat()' class='form-control'>";
                str1 += "<option value=0>Select Category</option>";
                str1 += "</select>";
                $("#divCategory").html(str1);

                str += "<select id='ddlDate' onchange='HideGrid()' class='form-control'>";
                str += "<option value=0>Select Date</option>";
                str += "</select>";
                $("#divDate").html(str);
            } else {
                CategoryDropdown(grp);
                return false;
            }
        }
        function onChangeCat() {
            HideGrid();
            var CompValue = $('#ddlCat').val();
            var str = "";
            try {
                $("#ddlDate").empty();
            } catch (ex) {
            }
            if (CompValue == 0) {
                str += "<select id='ddlDate' onchange='HideGrid()' class='form-control'>";
                str += "<option value=0>Select Date</option>";
                str += "</select>";
                $("#divDate").html(str);
            } else {
                DateDetail();
                return false;
            }
        }
        function DateDetail() {
            // var BaseAddress = "http://localhost:8487/EToolsAPI/api/";
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",
                url: BaseAddress + "InvoiceGenerationAPI/GetDateDetail/" + $("#ddlCat").val(),
                dataType: "json",
                success: function (substation, status, jqXHR) {

                    var str = "";
                    if (substation.Data.result != undefined) {
                        str += "<select id='ddlDate' onchange='HideGrid()' class='form-control'>";
                        str += "<option value=0>Select Date</option>";
                        if (substation.Data.result.length > 0) {
                            var data = substation.Data.result;

                            for (var i in data) {
                                if (data[i].ToDate != undefined && data[i].ToDate != "" && data[i].FromDate != undefined && data[i].FromDate != "") {

                                    var frmDate = Date.parse(data[i].FromDate, $("#ServerDatabaseDateformat").val());
                                    var ShowfrmDate = $.datepicker.formatDate($("#DatabaseDateformat").val(), new Date(frmDate));

                                    var Todate = Date.parse(data[i].ToDate, $("#ServerDatabaseDateformat").val());
                                    var ShowToDate = $.datepicker.formatDate($("#DatabaseDateformat").val(), new Date(Todate));

                                    var Showdate = ShowfrmDate + " To " + ShowToDate;


                                    str += "<option value=" + data[i].SID + ">" + Showdate + "</option>";
                                }
                            }
                        }
                    }
                    else if (substation.Data.e == "E") {
                        if (substation.Data.d.length > 0)
                            alert(substation.Data.d);
                    }
                    str += "</select>";
                    $("#divDate").html(str);
                }
            });
        }
        function PerformanceChart() {
            var legendArray = new Array();
            var seriesOptions = "";
            var FinString = "";
            var opt = "table";
            // var BaseAddress = "http://localhost:8487/EToolsAPI/api/";

            if ($("#ddlMeterGroup").val() == "0") {
                alert('Please Select Meter Group', '', false, "M");
                return false;
            }
            if ($("#ddlCat").val() == "0") {
                alert('Please Select Category', '', false, "M");
                return false;
            }
            if ($("#ddlDate").val() == "0") {
                alert('Please Select Date', '', false, "M");
                return false;
            }
            var categories_data = new Array();
            var InvoiceMeterData = {
                "CompanyCode": $("#ddlCat").val(), //Category code
                "MeterGroup": $("#ddlMeterGroup").val(),
                "FromDate": $('#ddlDate').val(), //date code
                "ToDate": $('#ddlDate').val()
            };
            var jdata = JSON.stringify(InvoiceMeterData);
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            try {
                $.ajax({
                    type: "POST",
                    url: BaseAddress + "InvoiceGenerationAPI/GetPDFMeterDetail",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(InvoiceMeterData),
                    dataType: "json",
                    success: function (response, status, jqXHR) {
                        //convert Input to normal format
                        var jsonObj = response.Data.result;
                        if (jsonObj.length > 0) {
                            $.each(jsonObj[0], function (key, value) {
                                if (key != "$id")
                                    legendArray[legendArray.length] = key;
                            });
                            $("#chart_container").empty();
                            if (opt == "table") {
                                FinString = "<table id='tblInvoice'  runat='server'>";
                                FinString += "<thead>";
                                FinString += "<tr>";
                                for (var j = 0; j < legendArray.length; j++) {
                                    FinString += "<th class='tableth'>" + legendArray[j].replace("_", " ") + "</th>"
                                }
                                FinString += "<th class='tableth'><input type='checkbox'  id='ChkAll'  runat='server'  onclick='CheckAllCheck()'></th>"
                                FinString += "</tr>";
                                FinString += "</thead>";
                                FinString += "<tbody>";
                                $.each(jsonObj, function (index) {
                                    FinString += "<tr>";
                                    $.each(jsonObj[index], function (key, value) {
                                        if (key != "$id")
                                            FinString += "<td>" + value + "</td>"
                                    });
                                    FinString += "<td><input type='checkbox' class='subCheck' id='checkItem' onclick='HideErrorMsg()'></td>"
                                    FinString += "</tr>";
                                });
                                FinString += "</tbody></table><br/>";
                                $("#chart_container").html(FinString);
                                $('#tblInvoice').dataTable({ "lengthMenu": [[400, 500, 600, -1], [400, 500, 600, "All"]] });
                                document.getElementById("btnShow").style.display = "none";
                                document.getElementById("btnExport").style.display = "block";
                            }
                        } else {
                            $("#chart_container").empty();
                            document.getElementById("btnExport").style.display = "none";
                            document.getElementById("btnShow").style.display = "block";
                            if (box) box.remove();
                            alert('No Data Found', '', false, "M");
                            return false;
                        }
                        if (box) box.remove();
                    },
                    failure: function (msg) {
                        if (box) box.remove();
                        //   alert(msg);
                        alert(msg, '', false, "M");
                    }
                });

            }
            catch (err) {
                if (box) box.remove();
            }
        }

        function HideGrid() {
            try {
                $("#chart_container").empty();
                document.getElementById("btnExport").style.display = "none";
                document.getElementById("btnShow").style.display = "block";
                document.getElementById("lblError").style.display = "none";
                $('#ddlDate').css('background-color', 'white');
                $('#ddlCat').css('background-color', 'white');
            } catch (ex) {
            }

        }
        function Export() {
            var FinalStr = "";
            var TableStr = "";
            var count = 0;
            if ($("#ddlMeterGroup").val() == "0") {
                alert('Please Select Meter Group', '', false, "M");
                return false;
            }
            if ($("#ddlCat").val() == "0") {
                alert('Please Select Category', '', false, "M");
                return false;
            }
            if ($("#ddlDate").val() == "0") {
                alert('Please Select Date', '', false, "M");
                return false;
            }
            var AllCheck = document.getElementsByClassName('ChkAll')
            $('#tblInvoice > tbody  > tr').each(function (index) {
                var tableRow = $(this);
                var chk = $(this).closest('tr').find('input:checkbox.subCheck');
                if (chk != null) {
                    if (chk[0].checked || AllCheck.checked) {
                        count++;
                        if (FinalStr.length > 0) {
                            FinalStr += tableRow.context.childNodes[0].innerHTML + "~";
                        } else {
                            FinalStr = tableRow.context.childNodes[0].innerHTML + "~";
                        }
                    }
                }
            });
            FinalStr = FinalStr.substring(0, FinalStr.length - 1);
            if (count == 0) {
                // ErrDisplay('Please Select Meter For Invoice Generation', '');
                alert('Please Select Meter For Invoice Generation', '', false, "M");
                return false;
            }

            document.getElementById('MeterCountString').value = count;
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' })

            var InvoiceMeterData = $("#ddlCat").val() + "," + $("#ddlDate").val() + "," + FinalStr + "," + $("#ddlMeterGroup").val();
            document.getElementById('InputString').value = InvoiceMeterData;
        }
        function ConvertMMDDYYYY(date) {
            var dateFormat = $("#DatabaseDateformat").val();
            var DateArr;
            if (date.indexOf("/") > 0) {
                while (date.indexOf("/") > 0) {
                    date = date.replace("/", "-");
                    dateFormat = dateFormat.replace("/", "-");
                }
            }
            if (dateFormat.toUpperCase() == "DD-MM-YY" || dateFormat.toUpperCase() == "DD-MM-YYYY") {
                DateArr = date.split('-');
                return DateArr[2] + "-" + DateArr[1] + "-" + DateArr[0];
            } else if (dateFormat.toUpperCase() == "MM-DD-YY" || dateFormat.toUpperCase() == "MM-DD-YYYY") {
                DateArr = date.split('-');
                return DateArr[2] + "-" + DateArr[0] + "-" + DateArr[1];
            } else if (dateFormat.toUpperCase() == "YY-MM-DD" || dateFormat.toUpperCase() == "YYYY-MM-DD") {
                DateArr = date.split('-');
                return DateArr[0] + "-" + DateArr[1] + "-" + DateArr[2];
            }
        }
        function ErrDisplay(value, ctrl) {
            $("#lblError").html(value);
            $('#lblError').addClass('ErrorMessage');
            $("#lblError").css("display", "block");
            if (ctrl != '' || ctrl != "") {
                var id = "#" + ctrl;
                $(id).css('background-color', 'Red');
            }
        }
        function CheckAllCheck() {
            if (document.getElementById('ChkAll').checked) {
                $('input:checkbox.subCheck').each(function () {
                    this.checked = true;
                });
            } else {
                $('input:checkbox.subCheck').each(function () {
                    this.checked = false;
                });
            }
        }
        function HideErrorMsg() {
            document.getElementById("lblError").style.display = "none";
        }
        $("#PdfForm").submit(function (e) {
            var count = $("#MeterCountString").val();
            var TimeCount = 7000 * Number(count);
            setTimeout(function () {
                if (box) box.remove();
            }, TimeCount);
        })
    </script>
}
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Employee</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configuration</a></li>
                        <li class="active">Invoice Generation</li>
                    </ol>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="panel panel-light-blue">
                        <div class="panel-heading">
                            <strong>Invoice Generation</strong>
                        </div>
                        <!--Top breadcrumb start -->
                                    <div class="panel-body">
                                        <!--Table Wrapper Start-->
                                        <div class="table-responsive ls-table">
                                                        <div>
                                                            <label id="lblError"></label>
                                                        </div>
                                                        <br>
                                                        @Html.Hidden("ServerDatabaseDateformat", "mm/dd/yy")
                                                        @Html.Hidden("DatabaseDateformat", "dd/mm/yy")
                                                        <div class="form-group col-sm-2">
                                                            <label for="ccyear" class="col-md-12">
                                                                Meter Group <span class="validation-redcolor">*</span>
                                                            </label>
                                                            <div id='ddllMgrp'>
                                                                <select id='ddlMeterGroup' class='form-control'>
                                                                    <option value='0'>Meter Group</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <label for="ccmonth" class="col-md-12" style="margin-left:0px !important">
                                                                Category <span class="validation-redcolor">*</span>
                                                            </label>
                                                            <div id='divCategory' class="col-md-12"></div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="col-md-12" style="margin-left:0px !important">
                                                                Date <span class="validation-redcolor">*</span>
                                                            </label>
                                                            <div id='divDate' class="col-md-12"></div>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <div class="form-group has-feedback col-md-6">
                                                                <label for="cvv">
                                                                    &nbsp;
                                                                </label>
                                                                <div>
                                                                    <input type="submit" id="btnShow" onclick="return PerformanceChart()" class="toggle btn btn-info" style="display:block" value="Display" />
                                                                </div>
                                                            </div>
                                                            <label for="cvv">
                                                                &nbsp;
                                                            </label>
                                                            <div>
                                                                @using (Html.BeginForm("PDF", "GeneratePDF", FormMethod.Get, new { id = "PdfForm" }))
                                                            {
                                                            @Html.Hidden("InputString")
                                                            @Html.Hidden("ServerDatabaseDateformat")
                                                            <input type="submit" id="btnExport" onclick="return Export()" class="toggle btn btn-primary" value="Export PDF" style="border:1px solid #f0f;display:none" />

                                                            }
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <div id="chart_container" class="panel-body">

                                                        </div>
                                                        @Html.Hidden("MeterCountString")
                                        </div>
                                    </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")