@model GridLogik.ViewModels.ConsumerCategoryTariff

@{
    ViewBag.Title = "Create";
}

<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            contentType: "application/json;charset=utf-8",
            url: BaseAddress + "prmglobal",
            dataType: "json",
            async: false,
            success: function (dateformat, status, jqXHR) {
                var str = "";
                if (dateformat.Data.result != undefined) {
                    var data = dateformat.Data.result;
                    for (var i in data) {
                        if (data[i].prmunit == "DateField") {
                            $("#Dateformat").val(data[i].prmvalue);
                        }
                        else if (data[i].prmunit == "ServerDate") {
                            $("#ServerDateformat").val(data[i].prmvalue);
                        }
                    }

                }
                else if (dateformat.Data.e == "E") {
                    if (dateformat.Data.d.length > 0)
                        alert(dateformat.Data.d, '', false, 'E');
                }
            }
        });

        //Set textbox as datepicker
        $(function () {
            $('#cctfromdate').datepicker({
                dateFormat: $("#Dateformat").val(),
                changeMonth: true,
                changeYear: true
            });
        });


        //$("#ccttariffid").mouseover(function () {
        //    $("#ccttariffid").size = 3;
        //});

        //$(function () {
        //    $('#enddate').datepicker({
        //        dateFormat: $("#Dateformat").val(),
        //        changeMonth: true,
        //        changeYear: true
        //    });
        //});


        $.ajax({
            type: "GET",
            contentType: "application/json;charset=utf-8",
            url: BaseAddress + "ConsumerCategory",
            async: false,
            //url: BaseAddress + "tariff",
            dataType: "json",
            success: function (tariffs, status, jqXHR) {
                var str = "";
                if (tariffs.Data.result != undefined) {
                    var data = tariffs.Data.result;
                    str = "<option value='select'>Select</option>";
                    for (var i in data) {
                        str += "<option value=" + data[i].ccatid + ">" + data[i].ccatdescription + "</option>";
                    }
                }
                else if (tariffs.Data.e == "E") {
                    if (tariffs.Data.d.length > 0)
                        alert(tariffs.Data.d, '', false, 'E');
                }

                $("#cctcategoryid").html(str);
                //$(".tariffclass").selectpicker();
            }
        });




        $.ajax({
            type: "GET",
            contentType: "application/json;charset=utf-8",
            url: BaseAddress + "Tariff",
            async: false,
            //url: BaseAddress + "tariff",
            dataType: "json",
            success: function (tariffs, status, jqXHR) {
                var str = "";
                if (tariffs.Data.result != undefined) {
                    var data = tariffs.Data.result;
                    str = "<option value='select'>Select</option>";
                    for (var i in data) {
                        str += "<option value=" + data[i].trfid + ">" + data[i].trfschemename + "</option>";
                    }
                }
                else if (tariffs.Data.e == "E") {
                    if (tariffs.Data.d.length > 0)
                        alert(tariffs.Data.d, '', false, 'E');
                }

                $("#ccttariffid").html(str);
                //$(".tariffclass").selectpicker();
            }
        });



        $("#btnCreate").click(function () {
            //;
            if ($('form').valid()) {
                var msttou = {
                    "cctcategoryid": $("#cctcategoryid :selected").val(),
                    "ccttariffid": $("#ccttariffid :selected").val(),
                    "cctisdeleted": 0,
                    "cctfromdate": GetFinaldate($("#cctfromdate").val(), $("#ServerDateformat").val(), $("#Dateformat").val())
                };


                $.ajax({

                    type: "POST",
                    contentType: "application/json;charset=utf-8",//type of data to be send
                    url: BaseAddress + "ConsumerCategoryTariffAPI",
                    dataType: "json",//type of data to be received
                    data: JSON.stringify(msttou),//data to be send
                    async: false,
                    success: function (response) {
                        // ;
                        if (response.cctcategoryid != undefined) {
                            //if (response.Data.d.length > 0)
                            alert('Record saved successfully', '@Url.Action("create", "MeterTariff")', true, 'S');

                        }

                        //window.location.href = '@Url.Action("Index", "MeterTariff")';

                    },
                    error: function (xhr, status, error) {

                        alert(xhr.responseText, '', false, 'E');
                    }
                });

            }
        });
    });
</script>
@*<script type="text/javascript">
         $(document).ready(function () {
            $(".chosen-select").chosen({ no_results_text: "Oops, nothing found!" });
        })
    </script>*@

@*<h2>Consumer Category Tariff</h2>*@
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Employee</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">Consumer Category Tariff</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <!--Table Wrapper Start-->
                            <a class="btn btn-warning pull-right btn-sm" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="panel panel-light-blue">
                                <div class="panel-heading">
                                    <i class="fa fa-plus-circle"></i>  <strong>ADD</strong>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary(true)

                                        <input id="Dateformat" type="hidden" />
                                        <input id="ServerDateformat" type="hidden" />
                                        <div class="form-group col-md-6">
                                            <label>Consumer Category</label>
                                            @Html.DropDownListFor(model => model.cctcategoryid, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.cctcategoryid)
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Tariff</label>
                                            @Html.DropDownListFor(Tariff => Tariff.ccttariffid, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(Tariff => Tariff.ccttariffid)
                                        </div>
                                        <div class="form-group col-md-6" style="display:none">
                                            <label>From Date</label>
                                            @Html.EditorFor(model => model.cctfromdate)
                                        </div>
                                        <div class="panel-footer col-md-12 text-center">
                                            <button type="button" class="btn btn-sm btn-success" id="btnCreate"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                                            <button type="button" class="btn btn-sm btn-danger" id="btnReset" onclick="formmodified=0; location.reload(true)"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                                        </div>



                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")