@model GridLogik.ViewModels.StandardAlarmModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script>

    $(document).ready(function () {

        $(".btn-default").click(function () {

            if ($('form').valid()) {
            }
            else {
            }

        })

    })


</script>

<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Standard Alarm </h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">Standard Alarm</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row  mb55">
                        <div class="col-md-12">
                            <a class="btn btn-warning pull-right btn-sm" href='@Url.Action("Index")'><i class="fa fa-arrow-left"></i> Back To List</a>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="panel panel-light-blue">
                                <div class="panel-heading">
                                    <i class="fa fa-pencil-square-o"></i> <strong>EDIT</strong>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-horizontal">
                                            @Html.ValidationSummary(true)
                                            @Html.HiddenFor(model => model.meterid)
                                            <div class="form-group col-md-6">
                                                <label class="control-label col-md-4">Enter Alarm Name <span class="validation-redcolor">*</span></label>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.alarmname, new { @Readonly = "Readonly", @class = "form-control alphaspace" })
                                                </div>
                                                <div class="col-md-9">
                                                    @Html.ValidationMessageFor(model => model.alarmname, null, new { @class = "validation-redcolor" })
                                                </div>
                                            </div>



                                            <div class="form-group col-md-6">
                                                <label class="col-md-3 control-label" for="multiple-select">Meter</label>
                                                <div class="col-md-9">
                                                    @Html.DropDownListFor(model => model.MeterSelectionList, (IEnumerable<SelectListItem>)ViewBag.meterids, new { @id = "ddlmeter", @class = "form-control", disabled = "disabled" })
                                                </div>
                                            </div>


                                            <div>
                                                <table class="table bootstrap-datatable datatable small-font">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Parameters</th>
                                                            <th class="text-center">Minimum Value</th>
                                                            <th class="text-center">Maximum Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-success">Voltage <span class="text-danger">*</span></div></td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.minvll, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.minvll, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @*@Html.TextBoxFor(model => model.maxVll, new { @placeholder = "value", @class = "form-control" })*@
                                                                    @Html.TextBoxFor(model => model.maxvll, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.maxvll, null, new { @class = "validation-redcolor" })

                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-warning">Current <span class="text-danger">*</span></div></td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.minamp, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.minamp, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.maxamp, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.maxamp, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-warning">Active Power <span class="text-danger">*</span></div></td>
                                                            <td>
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.minkw, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.minkw, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.maxkw, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.maxkw, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-danger">Avg KVA <span class="text-danger">*</span></div></td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.minkva, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.minkva, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.maxkva, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.maxkva, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-success">Frequency</div></td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.minhz, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.minhz, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.maxhz, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.maxhz, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-warning">Power Factor <span class="text-danger">*</span></div></td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.minpf, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.minpf, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.maxpf, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.maxpf, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-info">Connect Load <span class="text-danger">*</span></div></td>
                                                            <td colspan="2" class="text-center">
                                                                <div class="col-md-3 col-centered">
                                                                    @Html.TextBoxFor(model => model.connectload, new { @placeholder = "0.00", @class = "form-control decimal", @maxlength = "6" })
                                                                    @Html.ValidationMessageFor(model => model.connectload, null, new { @class = "validation-redcolor" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-center"><div class="label label-info">Alerts<span class="text-danger">*</span></div></td>
                                                            <td colspan="2" class="text-center">
                                                                <div class="form-group col-md-6 col-centered">
                                                                    <div class="checkbox-inline col-md-12">
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                @Html.CheckBoxFor(model => model.SendSMSChecked)
                                                                                @*@Html.LabelFor(model => model.sendsms)*@
                                                                                @Html.Label("Send SMS")
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                @Html.CheckBoxFor(model => model.SendEmailChecked)
                                                                                @*@Html.LabelFor(model => model.sendemail)*@
                                                                                @Html.Label("Send Email")
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                @Html.CheckBoxFor(model => model.GivePopupChecked)
                                                                                @*@Html.LabelFor(model => model.givepopup)*@
                                                                                @Html.Label("Give Popup")
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel-footer col-md-12 text-center">
                                            <button type="submit" class="btn btn-sm btn-success" id="btnCreate"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                                            <button type="button" class="btn btn-sm btn-danger" id="btnReset" onclick="location.reload(true)"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")