@model GridLogik.ViewModels.CommunicationDetail

@{
    ViewBag.Title = "";
}

@section scripts
{
    <script>
        $(document).ready(function () {

            if ('@ViewBag.CreateAccess' == "False") {
                $("#btnCreate").hide();
            }
            if ('@ViewBag.EditAccess' == "False") {
                $(".btnEdit").hide();
            }
            if ('@ViewBag.DeleteAccess' == "False") {
                $(".btnDelete").hide();
            }
            if ($('#CommunicationTypeID option:selected').text() == 'TCP') {
                $("#typeSerial").hide();
                $("#typeTCP").show();
            }
            else if ($('#CommunicationTypeID option:selected').text() == 'Serial') {
                $("#typeSerial").show();
                $("#typeTCP").hide();
            }
            else {
                $("#typeSerial").hide();
                $("#typeTCP").hide();
            }

           
        });

      
          
        

       
    </script>
}
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Convertor</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">Convertor</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <a href='@Url.Action("Index")' class="btn btn-warning pull-right btn-sm"><i class="fa fa-arrow-left"></i> Back to List</a>
                            <div class="clearfix"></div>
                            <hr />
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <i class="fa fa-trash-o"></i>  <strong>DELETE</strong>
                                </div>
                                <div class="panel-body">
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="ls_form">
                                            @Html.ValidationSummary(true)
                                            @Html.HiddenFor(model => model.ID)
                                            <div class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.convertordesc, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.convertordesc, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.convertordesc)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.CommunicationTypeID, new { @class = "" })
                                                    @Html.DropDownListFor(model => model.CommunicationTypeID, (IEnumerable<SelectListItem>)ViewBag.CommunicationTypes, new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.CommunicationTypeID)
                                                </div>
                                            </div>
                                            <div id="typeTCP" class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.IpAddress, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.IpAddress, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.IpAddress)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Port, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.Port, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Port)
                                                </div>
                                            </div>
                                            <div id="typeSerial" class="row">
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.comport, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.comport, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.comport)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Parity, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.Parity, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Parity)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.StopBits, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.StopBits, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.StopBits)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.BaudRate, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.BaudRate, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.BaudRate)
                                                </div>
                                                <div class="form-group col-md-4">
                                                    @Html.LabelFor(model => model.Databits, new { @class = "" })
                                                    @Html.TextBoxFor(model => model.Databits, new { disabled = "disabled", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Databits)
                                                </div>
                                            </div>
                                            <div class="checkbox col-md-6 row" style="padding-top:10px;">
                                                <div class="col-md-3">
                                                    @Html.CheckBoxFor(model => model.ActiveChecked, new { @class = "chkbox", @disabled = "disabled", @style = "margin-top:3px;" })
                                                    @Html.LabelFor(model => model.isactive, new { @style = "padding-left:2px;" })
                                                </div> <div class="col-md-3">
                                                    @Html.CheckBoxFor(model => model.emailalarmChecked, new { @class = "chkbox", @disabled = "disabled", @style = "margin-top:3px;" })
                                                    @Html.LabelFor(model => model.emailalarmChecked, new { @style = "padding-left:2px;" }) <span>&nbsp;</span>
                                                </div> <div class="col-md-3">
                                                    @Html.CheckBoxFor(model => model.popupalarmChecked, new { @class = "chkbox", @disabled = "disabled", @style = "margin-top:3px;" })
                                                    @Html.LabelFor(model => model.popupalarmChecked, new { @style = "padding-left:2px;" }) <span>&nbsp;</span>
                                                </div> <div class="col-md-3">
                                                    @Html.CheckBoxFor(model => model.smsalarmChecked, new { @class = "chkbox", @disabled = "disabled", @style = "margin-top:3px;" })
                                                    @Html.LabelFor(model => model.smsalarmChecked, new { @style = "padding-left:2px;" }) <span>&nbsp;</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="panel-footer col-md-12 text-center">
                                                <button type="submit" class="btn btn-danger btnDelete" id="btnDelete"><i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete</button>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <span>
                                                        @Html.Raw(ViewBag.ErrorMessage)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")