@model IEnumerable<GridLogik.ViewModels.OPCServerTag>

@{
    ViewBag.Title = "Index";
}



<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Role</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">OPCServerTag</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">
                                        @*<button class="btn btn-success pull-right btn-sm"><i class="fa fa-plus-circle"></i> Create New</button>*@
                                        @Html.ActionLink(" Create New", "create", "OPCServerTag", null, new { @id = "btnCreate", @class = "fa fa-plus-circle text-white btn btn-success pull-right btn-sm btnCreateClass" })
                                        @*<div class="clearfix"></div>
                                            <hr />
                                            <br />*@
                                        <table id="lsttable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Tag Name</th>
                                                    <th class="text-center">Tablename</th>
                                                    <th class="text-center">Parameter</th>
                                                    <th class="text-center">Datatype</th>
                                                    <th class="text-center">Meter</th>                                                  
                                                    <th class="text-center">Priority</th>
                                                    <th class="text-center">IsTag</th>
                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody id="data">
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.tagname)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.tablename)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.parameter)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.datatype)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.Metername)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item._priority)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.is_tag)
                                                        </td>
                                                        <td class="text-center">

                                                            @Html.ActionLink(" Edit", "Edit", new { id = item.id }, new { @class = "fa fa-pencil-square-o text-white btn btn-xs btn-warning btnEdit" })

                                                            @Html.ActionLink(" Delete", "Delete", new { id = item.id }, new { @class = "fa fa-trash-o text-white btn btn-xs btn-danger btnDelete" })
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")

@section scripts
{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.CreateAccess' == "False") {
                $("#btnCreate").hide();
            }
            if ('@ViewBag.EditAccess' == "False") {
                $(".btnEdit").hide();
            }
            if ('@ViewBag.DeleteAccess' == "False") {
                $(".btnDelete").hide();
            }
            $("#lsttable").dataTable(
                             {
                                 pageLength: 10,
                                 "aoColumns": [
                                             null,
                                             null,
                                             null,
                                             null,
                                              null,
                                             null,
                                             null,
                                             { "bSortable": false, "width": "144px" }
                                 ]
                             });

        })
    </script>

}
