@{
    ViewBag.Title = "UPLOAD";
}

<style>
    input[type=file] {
        display: block !important;
    }

    #uploadtable tbody tr:nth-child(2n-1) {
        background-color: #d4d4d4;
        transition: all .125s ease-in-out;
    }

    #dynamicid {
        padding: 1px;
    }

    td, th {
        padding: 0 3px;
    }
</style>


<div id="trgPopup">

</div>

<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Role</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Configurations</a></li>
                        <li class="active">DCSG Revsion Wise</li>
                    </ol>
                    <div class="row">
                        <div class="col-md-12">
						<div class="panel panel-default">

                                <div class="panel-body">
                            <div style=" margin-top:-10px;">
                                <p style="text-align:right;">
                                    @using (Html.BeginForm("Upload", "DCSGRevisionWise", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @*@Html.Hidden("DatabaseDateformat", "dd/mm/yy")
                        @Html.Hidden("ServerDatabaseDateformat")*@

                                        @*<input id="Dateformat" name="Dateformat" type="hidden" />
                                        <input id="ServerDateformat" name="ServerDateformat" type="hidden" />*@



                                        <table style="width:300px;display:none;">
                                            <tr>
                                                <td><input id="rdoupload" value="Upload" type="radio" name="mode" checked>Upload</td>
                                                <td><input id="rdosearch" value="Search" type="radio" name="mode">Search</td>
                                            </tr>
                                        </table>
                                        <table id="uploadtable" style="margin-bottom:20px;">
                                            <tr >

                                                <td colspan="1">

                                                    <input type="file" name="Uploadfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" autocomplete="off" class="btn btn-info pull-left btn-sm" />
                                                </td>
                                                <td>
                                                    <input id="txtstageid" name="txtstageid" value="1" class="form-control" type="text" style="display:none;" />
                                                </td>
                                                <td>
                                                    <input id="txtrevisionid" name="txtrevisionid" value="1" class="form-control" type="text" style="display:none;" />
                                                </td>
                                                <td style="font-weight:600;">Applicable Date </td>
                                                <td style="width: 103px;">
                                                    <div id="dtFrmDate">
                                                        <input id="txtFrmDate" name="txtFrmDate" class="form-control" type="text" readonly />
                                                    </div>
                                                </td>
                                                <td style="font-weight:600;">Stage ID</td>
                                                <td>
                                                    <select id="drpstageid" name="drpstageid" class="form-control"></select>
                                                </td>
                                                <td style="font-weight:600;">Revision Id</td>
                                                <td style="width: 100px;">
                                                    <select id="dynamicid" class="form-control"></select>
                                                </td>
                                                <td colspan="3" style="text-align:right;align-items:flex-start">
                                                    <input type="submit" name="Upload" value="Upload" id="btnSubmit" class="btn btn-success" />
                                                    @*<input type="button" name="Upload" value="Upload" id="btnSubmit" class="btn btn-success" />*@
                                                    @Html.ActionLink("Download Template", "download", "DCSGFuelStaged", null, new { @id = "btnDownload", @class = "btn btn-warning" })
                                                </td>

                                            </tr>
                                        </table>





                                    }


                                </p>
                                <table id="searchtable" style="text-align: left; margin-bottom: 20px;" align="left" class="table table-bordered table-striped">
                                    <tr>
                                        <td style="text-align: left; width: 151px;">Applicable Date : <label id="dateoflabel"></label> </td>
                                        <td width="260px">
                                            <div id="dtAppDate">

                                            </div>
                                        </td>

                                    </tr>

                                </table>

                            </div>

                            <div>
                                <table id="lsttable" class="table table-bordered table-striped dataTable no-footer">

                                    <thead>

                                        <tr>
                                            <th width="5%" style="text-align:center">Block No</th>
                                            <th width="14%" style="text-align:center">Datetime</th>
                                            <th width="14%" style="text-align:center">SG</th>
                                            <th width="14%" style="text-align:center">DC</th>
                                            <th width="14%" style="text-align:center">Fuel Cost</th>
                                            @*<th width="14%" style="text-align:center">FC</th>*@

                                        </tr>
                                    </thead>
                                    <tbody id="data"></tbody>

                                </table>

                            </div>
                            <div id="divExcel">
                                <div class="form-group col-md-3" style="border:0px solid #000; padding:0px; margin:0px 0px;  text-align:left;">
                                    <label style="border:0px solid #000; padding:0px; margin:0px 0px;" for="select">&nbsp;</label>
                                    @using (Html.BeginForm("Export", "DCSGRevisionWise", FormMethod.Get, new { id = "ExcelForm" }))
                                    {
                                        @Html.Hidden("InputString")
                                        @Html.Hidden("InputStr")
                                        <button type="submit" class="btn btn-success" onclick="return Export()" id="btnExport" style="font-weight:bold;  margin:10px 0px;">Export To excel</button>
                                    }
                                </div>
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
	 </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        document.getElementById("dateoflabel").innerHTML = d + "/" + m + "/" + y;



        function ExcelHide1(flag) {
            if (flag == 1) {
                $('#divExcel').hide();
            } if (flag == 2) {
                $('#divExcel').show();
            }
        }

            var viebagdata = '@ViewBag.result';
            if (viebagdata.length > 0) {
                $("#trgPopup").html("<button id='btn-success-trigger' type='button' class='btn btn-popup-success collapse' data-toggle='modal' data-target='#modal_message' data-dismiss='modal'><i class='fa fa-check'></i>&nbsp;</button>");
                $("#btn-success-trigger").trigger('click');
                $("#modal_message h3").text(viebagdata);
                viebagdata = "";
            }



        ExcelHide1(1);
        $("#dynamicid").hide();// revision id
        $("#dynamicid").html("");
        $.ajax({
            type: "GET",
            async: false,
            contentType: "application/json;charset=utf-8",
            url: BaseAddress + "prmglobal/GetIdentifiersOnModuleNew/dcsgStage",
            dataType: "json",
            success: function (gender, status, jqXHR) {
                console.log("prmglobal/GetIdentifiersOnModuleNew/dcsgStage");
                console.log(gender);
                var str = "<option value=''>Select</option>";
                if (gender != undefined) {
                    var data = gender;
                    for (var i in data) {
                        str += "<option value=" + data[i].prmvalue + ">" + data[i].prmidentifier + "</option>";
                    }
                }

                $("#drpstageid").append(str);

            }

        });

        //$.ajax({
        //    type: "GET",
        //    contentType: "application/json;charset=utf-8",
        //    url: BaseAddress + "prmglobal",
        //    dataType: "json",
        //    async: false,
        //    success: function (dateformat, status, jqXHR) {
        //        console.log("prmglobal");
        //        console.log(dateformat);
        //        var str = "";
        //        if (dateformat != undefined) {
        //            var data = dateformat;
        //            for (var i in data) {
        //                if (data[i].prmunit == "DateField") {
        //                    $("#Dateformat").val(data[i].prmvalue);
        //                }
        //                else if (data[i].prmunit == "ServerDate") {
        //                    $("#ServerDateformat").val(data[i].prmvalue);
        //                }
        //            }

        //        }
        //        else if (dateformat.Data.e == "E") {
        //            if (dateformat.Data.d.length > 0)
        //                alert(dateformat.Data.d, '', false, 'E');
        //        }
        //    }
        //});
        var DateFormat = $("#DateField").val();
        $("#txtFrmDate").datepicker({
            dateFormat: $("#DateField").val(),
            // maxDate: "-0D",
            changeMonth: true,
            changeYear: true

        }).datepicker("setDate", new Date());

        $("#txtSearchAppdate").datepicker({
            dateFormat: $("#DateField").val(),
            //maxDate: "-1D",
            changeMonth: true,
            changeYear: true
        }).datepicker("setDate", new Date());




        if ('@TempData["Msg"]' != '' && '@TempData["MsgType"]' != '') {

            if ('@TempData["Msg"]' == 'Code already exists') {
                var result = confirm("Records Already Exist for This date. Do you want to update?");


                if (result == true) {
                    //console.log('yes');
                }
                else {
                    //console.log('no');
                }

            }
            else {
                alert("Upload successfully <br>" + '@TempData["Msg"]', '', false, '@TempData["MsgType"]')

            }



        }

        box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
        var stageid = $('#drpstageid :selected').val();
        var selectedtext = $('#drpstageid :selected').text();


        if (selectedtext != 'Select') {
            //console.log('s');
            GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid);

        }


        $("#drpstageid").change(function () {
            var stageid = $('option:selected', this).val();
            var selectedtext = $('#drpstageid :selected').text();
            $("#lsttable > tbody").empty();
            //console.log('2---');
            $('#drpstageid :selected').val();
            $('#drpstageid :selected').text();
            ExcelHide1(1);
            //console.log('2--end-');
            if (selectedtext != 'Select') {
                GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid);
            }
        });




        $('#txtFrmDate').on("propertychange change keyup paste input", function () {

            var datecha = $('#txtFrmDate').val();

            $("#dateoflabel").empty();
            $("#dateoflabel").html(datecha);
            if ($('#txtFrmDate').val() == "") {
                return;
            }
            var str = $('#txtFrmDate').val().replace('/', '-');
            str = str.replace('/', '-');
            //$('#lblappdate').text(((response.tstamp == null) ? " " : newdate));
            $('#lblappdate').text($('#txtFrmDate').val());
            var stageid = $('#drpstageid :selected').val();

            var selectedtext = $('#drpstageid :selected').text();

            //console.log('3---');
            $('#drpstageid :selected').val();
            $('#drpstageid :selected').text();
            //console.log('3--end-');

            if (selectedtext != 'Select') {
                GetData($('#txtFrmDate').val().replace('/', '-').replace('/', '-'), stageid);
            }




            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",//type of data to be send

                url: BaseAddress + "DCSGRevisionWise/CheckUpload/" + str + "",
                dataType: "json",//type of data to be received
                success: function (rates, status, jqXHR) {
                    debugger;

                    console.log("CHECKUPLOAD");
                    console.log(rates);
                    debugger;
                    if (rates.length>0) {

                        console.log("Records Already Exist for This date. Do you want to update?");
                    }
                    else {
                        $('#btnSubmit').click();
                    }

                },
                error: function (xhr, status, error) {
                    // alert(error);
                    $("#dateoflabel").empty();
                    $("#dateoflabel").html(datecha);
                    if (box) box.remove();
                }
            });

        });

        $('#btnSubmit').on('click', function (event) {
            if ($('#txtFrmDate').val() == '') {
                event.preventDefault();
                alert('Date is mandatory.');

            }
            if ($('#drpstageid :selected').text() == 'Select') {
                alert('Stage is mandatory.');
                event.preventDefault();

                return;

            }
        });

        $(".container").on('click', '.btn.btn-danger', function () {
            //console.log('yeey');
        });










        $("#dynamicid").change(function () {
            $("#lsttable > tbody").empty();
            var stageid = $('#drpstageid :selected').val();

            if (stageid < 0 || stageid == "Select")
            {
                alert("Select Stage id");
            }

            console.log(dynamicid + " Dynamic id");
            console.log(stageid + "   To Check Stage id");
            var end = this.value;
            GetDataRevision(end, stageid, $('#txtFrmDate').val().replace('/','-').replace('/', '-'));
        });

        function GetDataRevision(revisionid, stageid, dt)
        {
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",//type of data to be send
                url: BaseAddress + "DCSGRevisionWise/GetDataRevision" + "/" + dt + "/" + stageid +"/"+ revisionid,
                dataType: "json",//type of data to be received
                success: function (rates, status, jqxHR)
                {
                    var valofdynamic = $("#dynamicid").val();
                    if (rates.length > 0)
                    {
                        ExcelHide1(2);
                    }
                    else
                    {
                        ExcelHide1(1);
                    }
                    console.log("DCSGRevisionWise/GetDataRevision");
                    console.log(rates);

                    var str = "";
                    if (rates != undefined) {
                        rates.forEach(function (response) {

                            str += "<tr>" +
                                "<td>" + ((response.blockno == null) ? " " : response.blockno) + "</td>" +
                                "<td>" + ((response.tstamp == null) ? " " : response.tstamp.replace('T', ' ')) + "</td>" +
                                 "<td>" + ((response.sgvalue == null) ? " " : response.sgvalue) + "</td>" +
                                "<td>" + ((response.dcvalue == null) ? " " : response.dcvalue) + "</td>" +
                                "<td>" + ((response.fuelcost == null) ? " " : response.fuelcost) + "</td>" +
                                "</tr>";

                            var parts = response.tstamp.substring(0, 10).split('-');
                            var newdate = parts[2] + '-' + parts[1] + '-' + parts[0];



                            // $('#lblappdate').text(((response.tstamp == null) ? " " : newdate));


                        });
                    }
                    if (rates == "E") {
                        if (rates.length > 0)
                            alert(rates);

                    }

                    //$("#data").html(str);
                    //$("#lsttable").dataTable(
                    //    {
                    //        pageLength: 10,
                    //        "aoColumns": [
                    //                    null,
                    //                    null,
                    //                    null//,
                    //                   // null
                    //        ]
                    //    });


                    if ($.fn.dataTable.isDataTable('#lsttable')) {
                        var table = $('#lsttable').dataTable();

                        table.fnClearTable();
                        table.fnDestroy();
                        $("#data").html(str);

                        $("#lsttable").dataTable(
                            {
                                pageLength: 10,
                                "aoColumns": [
                                            null,
                                            null,
                                            null,
                                            null,
                                            null
                                ]
                            });

                        Highlight();
                    }
                    else {
                        var s = "";
                        var table = $('#lsttable').dataTable();

                        table.fnClearTable();
                        table.fnDestroy();

                        $("#data").html(str);

                        $("#lsttable").dataTable(
                           {
                               pageLength: 10,
                               "aoColumns": [
                                           null,
                                           null,
                                           null,
                                           null,
                                           null
                               ]
                           });

                        Highlight();
                    }

                    if (box) box.remove();
                },
                error: function (xhr, status, error) {
                    // alert(error);
                    ExcelHide1(1);
                    if (box) box.remove();
                }

            });
        }


        function GetData(dt, stageid) {
            $.ajax({
                type: "GET",
                contentType: "application/json;charset=utf-8",//type of data to be send

                url: BaseAddress + "DCSGRevisionWise/GetDataDistinct" + "/" + dt + "/" + stageid,
                dataType: "json",//type of data to be received
                success: function (rates, status, jqXHR) {
                    console.log("DCSGRevisionWise/GetDataDistinct");
                    console.log(rates);
                    $("#dynamicid").html("");

                    var str = "";
                    var val1 = "<option value='Select'>Select Revision</option>";
                    $("#dynamicid").append(val1);
                    if (rates != undefined) {
                        var value = 0;

                        rates.forEach(function (response) {
                            var checkval = response.revision;

                            if (checkval != value) {
                                var val = "<option value='" + response.revision + "'>" + response.revision + "</option>";
                                value = checkval;
                                $("#dynamicid").append(val);

                            }
                            $("#dynamicid").show();
                        });


                    }



                },
                error: function (xhr, status, error) {
                    // alert(error);
                    if (box) box.remove();
                }
            });

        }

        if ($('#lblappdate').text() == "") {
            $('#lblappdate').text($('#txtFrmDate').val());
        }
        ///---
        return false;
    });



        function Export() {
            if ($('#drpstageid :selected').val() == "0" || $('#drpstageid :selected').val() == "") {
                alert('Please Select Stage', '', false, "M");
            return false;
        }
        if ($('#txtFrmDate').val() == "" || $('#txtFrmDate').val() == "") {
            alert('Please Select Date', '', false, "M");
            return false;
        }

        var stageid = $('#drpstageid :selected').val();
        var selectedtext = $('#drpstageid :selected').text();
        var ddlRevision = $('#dynamicid :selected').val();
        var ddlRevisionText = $('#dynamicid :selected').text();
        var dates = $('#txtFrmDate').val().replace('/', '-').replace('/', '-');
        var LabelValue = dates + "~" + stageid + "~" + ddlRevision;
        var SelectValue = $('#txtFrmDate').val() + "~" + selectedtext + "~" + ddlRevisionText;
        document.getElementById('InputString').value = SelectValue;
        document.getElementById('InputStr').value = LabelValue;
        }




</script>

