@model IEnumerable<GridLogik.ViewModels.MeterModel>

@{
    ViewBag.Title = "Index";
}


<style>
    tr td {
        padding: 0px;
    }
</style>

<script>
    $(document).ready(function () {
        if ('@ViewBag.CreateAccess' == "False") {
            $("#btnCreate").hide();
        }
        if ('@ViewBag.EditAccess' == "False") {
            $(".btnEdit").hide();
        }
        if ('@ViewBag.DeleteAccess' == "False") {
            $(".btnDelete").hide();
        }
        $("#lsttable").dataTable(
                         {
                             pageLength: 10,
                             "aoColumns": [
                                         null,
                                         null,
                                         { "bSortable": false, "width": "144px" }
                             ]
                         });

    })
</script>
<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header">Meter Model</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Masters</a></li>
                        <li class="active">Meter Model</li>
                    </ol>
                    <!--Top breadcrumb start -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">

                                <div class="panel-body">
                                    <!--Table Wrapper Start-->
                                    <div class="table-responsive ls-table">
                                        @Html.ActionLink(" Create New", "create", "MeterModel", null, new { @id = "btnCreate", @class = "fa fa-plus-circle text-white btn btn-success pull-right btn-sm btnCreateClass" })
                                        @*<div class="clearfix"></div>
                                            <hr />
                                            <br />*@
                                        <table id="lsttable" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Model Name</th>
                                                    <th class="text-center">Description</th>

                                                    <th class="text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
    foreach (var item in Model)
    {
                                                    <tr>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.ModelName)
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>
                                                        <td class="text-center">

                                                            @Html.ActionLink(" Edit", "Edit", new { id = item.ID }, new { @class = "fa fa-pencil-square-o text-white btn btn-xs btn-warning" })

                                                            @Html.ActionLink(" Delete", "Delete", new { id = item.ID }, new { @class = "fa fa-trash-o text-white btn btn-xs btn-danger" })
                                                        </td>
                                                    </tr>
    }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>