@model GridLogikViewer.ViewModel.DriversViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>DriversViewModel</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MeterModel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MeterModelID", string.Empty)
                @Html.ValidationMessageFor(model => model.MeterModel)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-12">Address Details</label>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="btnAdd">Add</button>
            </div>
            <div class="col-md-12">
                <table class="table" id="tbl">
                    <tr>
                        <th>Address</th>
                        <th>Parameter Name</th>
                        <th>Data Type</th>
                        <th>Instance Parameter Mapping</th>
                        <th>Multiplication Factor</th>
                    </tr>
                    
                    @foreach (var address in Model.AddressDetails)
                    {
                        Html.RenderPartial("_AddressDetail", address);
                    }
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts
{
    <script type="text/javascript">
        var i = 0;
        $().ready(function () {
            $("#btnAdd").click(function () {
                $.ajax({
                    url: '/Driver/AddAddressDetails',
                    async: false,
                    cache: false,
                    success: function (html) { $("#tbl").append(html); }
                });
                return false;
                
            });
        });
    </script>
}