@model GridLogikViewer.APIModels.InstanceData

@*//kunal*@
<div class="col-lg-6" style="border:0px solid  #000; padding:0px;">
    <div class="col-lg-12" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box">Energy</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols"> <a href="charts-flot.html#" class="btn-setting" data-toggle="modal" data-target="#ModalTable01"><i class="fa fa-eye"></i></a> <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a> <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a> </div>
            </div>
            <table class="panel-body table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="huge_size_level2">#</th>
                        <th class="huge_size_level2" style="font-size:18px;">Export</th>
                        <th class="huge_size_level2" style="font-size:18px;">Import</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <th class="huge_size_level2">MWh</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kWh_Exp)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kWh_Imp)</td>
                    </tr>
                    <tr class="warning">
                        <th class="huge_size_level2">MVARh Lag</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVARh_Lag_Exp)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVARh_Lag_Imp)</td>
                    </tr>
                    <tr class="danger">
                        <th class="huge_size_level2">MVARh Lead</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Lead_exp)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVARh_Lead_Imp)</td>
                    </tr>
                    <tr class="success">
                        <th class="huge_size_level2">MVAh</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVAh_Exp)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVAh_Imp)</td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>


    <div class="col-lg-12" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box">Power</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols">
                    <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <table class="panel-body table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="huge_size_level2" style="font-size:18px;">Data</th>
                        <th class="huge_size_level2" style="font-size:18px;">Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <th class="huge_size_level2">MW</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kW)</td>

                    </tr>
                    <tr class="warning">
                        <th class="huge_size_level2">MVAR </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVAR)</td>
                    </tr>

                    <tr class="danger">
                        <th class="huge_size_level2">MVA </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kVA)</td>

                    </tr>

                    <tr class="success">
                        <th class="huge_size_level2">PF</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.PF)</td>
                    </tr>

                    <tr class="info">
                        <th class="huge_size_level2">HZ</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.HZ)</td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>




</div>

<div class="col-lg-6" style="border:0px solid  #000; padding:0px;">

    <div class="col-lg-4" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box">Line Voltage (KV)</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols">
                    <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <table class="panel-body table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="huge_size_level2" style="font-size:18px;">Data</th>
                        <th class="huge_size_level2" style="font-size:18px;">Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <th class="huge_size_level2">RY</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.Vbn)</td>

                    </tr>
                    <tr class="warning">
                        <th class="huge_size_level2">YB </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.Vbr)</td>

                    </tr>

                    <tr class="success">
                        <th class="huge_size_level2">BR</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.Vrn)</td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>




    <div class="col-lg-4" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box">Ph. Voltage (KV)</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols">
                    <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <table class="panel-body table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="huge_size_level2" style="font-size:18px;">Data</th>
                        <th class="huge_size_level2" style="font-size:18px;">Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <th class="huge_size_level2">R</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kWr)</td>

                    </tr>
                    <tr class="warning">
                        <th class="huge_size_level2">Y </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kWy)</td>

                    </tr>

                    <tr class="success">
                        <th class="huge_size_level2">B</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.kWb)</td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>





    <div class="col-lg-4" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box">Current (A)</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols">
                    <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <table class="panel-body table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="huge_size_level2" style="font-size:18px;">Data</th>
                        <th class="huge_size_level2" style="font-size:18px;">Value</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <th class="huge_size_level2">R</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.Ir)</td>

                    </tr>
                    <tr class="warning">
                        <th class="huge_size_level2">Y </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.Iy)</td>

                    </tr>

                    <tr class="success">
                        <th class="huge_size_level2">B</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.Ib)</td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>

    <div class="col-lg-8" style="border:0px solid  #000;padding:0px; ">
        <div class="col-lg-12" style="border:0px solid  #000; ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class=" dashboard-panel-body-box">Label Name</div>
                    <div class="panel-actions  dashboard-panel-body-boxcontrols"> <a href="charts-flot.html#" class="btn-setting" data-toggle="modal" data-target="#ModalTable01"><i class="fa fa-eye"></i></a> <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a> <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a> </div>
                </div>
                <table class="panel-body table table-striped table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th class="huge_size_level2">#</th>
                            <th class="huge_size_level2" style="font-size:18px;">Export</th>
                            <th class="huge_size_level2" style="font-size:18px;">Import</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="info">
                            <th class="huge_size_level2">Day MWH</th>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.Day_KWh_Exp)</td>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.Day_KWh_Imp)</td>
                        </tr>
                        <tr class="warning">
                            <th class="huge_size_level2">Current Block</th>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.CBlk_KWh_Exp)</td>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.CBlk_KWh_Imp)</td>
                        </tr>


                    </tbody>
                </table>

                <!-- Modal03 popup -->
                <!--/col-->

            </div>
        </div>
        <div class="col-lg-12" style="border:0px solid  #000; ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class=" dashboard-panel-body-box">Label Name</div>
                    <div class="panel-actions  dashboard-panel-body-boxcontrols"> <a href="charts-flot.html#" class="btn-setting" data-toggle="modal" data-target="#ModalTable01"><i class="fa fa-eye"></i></a> <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a> <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a> </div>
                </div>
                <table class="panel-body table table-striped table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th class="huge_size_level2">#</th>
                            <th class="huge_size_level2" style="font-size:18px;">MW</th>
                            <th class="huge_size_level2" style="font-size:18px;">HZ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="danger">
                            <th class="huge_size_level2">Last Block Avg</th>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.LBlk_Avg_MW)</td>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.Lblk_Avg_Hz)</td>
                        </tr>
                        <tr class="success">
                            <th class="huge_size_level2">Current Block Avg</th>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.CBlk_Avg_MW)</td>
                            <td class="huge_size_level3">@Html.DisplayFor(m => m.CBlk_Avg_Hz)</td>
                        </tr>


                    </tbody>
                </table>

                <!-- Modal03 popup -->
                <!--/col-->

            </div>
        </div>
    </div>

    <div class="col-lg-4" style="border:0px solid  #000; ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class=" dashboard-panel-body-box">Power</div>
                <div class="panel-actions  dashboard-panel-body-boxcontrols">
                    <a href="charts-flot.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                    <a href="charts-flot.html#" class="btn-close"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <table class="panel-body table table-striped table-bordered table-hover ">
                <thead>
                    <tr>
                        <th class="huge_size_level2">#</th>
                        <th class="huge_size_level2" style="font-size:18px;">Export</th>
                        <th class="huge_size_level2" style="font-size:18px;">Import</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="info">
                        <th class="huge_size_level2">V%</th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Exp_97)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Imp_103)</td>
                    </tr>
                    <tr class="warning">
                        <th class="huge_size_level2">103% </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Exp_103)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Imp_103)</td>
                    </tr>

                    <tr class="danger">
                        <th class="huge_size_level2">97% </th>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Exp_97)</td>
                        <td class="huge_size_level3">@Html.DisplayFor(m => m.KVARh_Imp_97)</td>
                    </tr>

                </tbody>
            </table>

            <!-- Modal03 popup -->
            <!--/col-->

        </div>
    </div>


</div>

@*<div class="row">
    <div class="col-lg-12 ">
        <div class="col-lg-3 ">
            <div class="col-lg-12"> </div>
        </div>
        <div class="col-lg-6 ">
            <div class="col-lg-6">
                <div class="form-group">
                    <button type="reset" class="btn btn-sm btn-danger style-btns col-lg-12"><i class="fa fa-floppy-o"></i> Save</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <button type="reset" class="btn btn-sm btn-danger style-btns col-lg-12"><i class="fa fa-ban"></i> Exit</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-12" style="border:0px solid #000;">
                <div class="form-group">

                </div>
            </div>
        </div>
    </div>
</div>*@

@*<script src="~/Content/Template/js/jquery/jquery-2.1.4.min.js"></script>
<script src="~/Content/js/jquery-ui-1.9.2.custom.min.js"></script>*@
<link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />