@model GridLogik.ViewModels.InstanceData
@{
    ViewBag.Title = "ABT Meter Details";
}
<style>
    .table-style_01 th, .table-style_01 td {
        background: #2f2f2f !important;
        color: #17bab8;
        font-size: 16px;
        text-align: center;
    }

    .table-style_02 th, .table-style_02 td {
        background: #2f2f2f !important;
        color: #ed9979;
        font-size: 16px;
        text-align: center;
    }

    .table-style_03 th, .table-style_03 td {
        background: #2f2f2f !important;
        color: #f02d99;
        font-size: 16px;
        text-align: center;
    }

    .table-style_04 th, .table-style_04 td {
        background: #2f2f2f !important;
        color: #ebd504;
        font-size: 16px;
        text-align: center;
    }

    .table-style_05 th, .table-style_05 td {
        background: #2f2f2f !important;
        color: #00adef;
        font-size: 16px;
        text-align: center;
    }

    .table-style_06 th, .table-style_06 td {
        background: #2f2f2f !important;
        color: #83c338;
        font-size: 16px;
        text-align: center;
    }

    .table-hover_01 > tbody > tr:hover > td, .table-hover_01 > tbody > tr:hover > th {
        background-color: #f00 !important;
    }

    .panel-default > .panel-heading {
        padding: 2px 10px;
    }
     .panel-default {
        border-color: #ddd;
    }

        .panel-default > .panel-heading {
            color: #fff;
            background: -webkit-gradient(linear, 50% 100%, 50% 0%, from(#1F475F), to(#1F475F));
            background: -moz-linear-gradient(80% 72% 89deg, #1F475F, #1F475F 100%);
            border-color: #d1d1d1;
        }

            .panel-default > .panel-heading + .panel-collapse .panel-body {
                border-top-color: #ddd;
            }

        .panel-default > .panel-footer + .panel-collapse .panel-body {
            border-bottom-color: #ddd;
        }
</style>

<section>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!--Top header start-->
                    @*<h3 class="ls-top-header col-md-6">Alarm Recipient Info</h3>*@
                    <!--Top header end -->
                    <!--Top breadcrumb start -->
                    <ol class="breadcrumb col-md-12 text-left bgn">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><a href="#">Logs</a></li>
                        <li class="active">Meter Details</li>
                    </ol>
                    <!--Top breadcrumb start -->

                    <div class="row  mb55">
                        <div class="col-md-12">
                            <hr />
                            <div class="panel panel-light-blue">
                                <div class="panel-heading">
                                    <span class="pull-left">  <strong>Meter Details</strong></span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">

                                    <div class="col-lg-12">
                                        <div class="panel-body" style="border:0px solid #000;">
                                            <div class="form-group col-md-4" style="border:0px solid #f00;">
                                                <label class="col-md-5" for="ccyear" style="border:0px solid #f00; margin:5px 0px;">Meter Group</label>
                                                <div class="form-group col-md-7" style="border:0px solid #f00;">
                                                    @Html.DropDownListFor(model => Model.GroupId, new SelectList(Model.Groups, "ID", "GroupName"), "select", new { @id = "groupList", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6" style="border:0px solid #f00;">
                                                <label class="col-md-4" for="ccyear" style="border:0px solid #f00; margin:5px 0px;">Meter Name</label>
                                                <div class="form-group col-md-7" style="border:0px solid #f00;">
                                                    @Html.DropDownListFor(model => Model.METERID, new SelectList(Enumerable.Empty<SelectListItem>(), "ID", "MeterName"), "select", new { @id = "meterList", @class = "form-control" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    @*kunal new abt*@
                                    <div class="row" id="rwData">

                                        <div class="col-lg-12" style="border:0px solid  #000; padding:0px; ">
                                            <div class="col-lg-4" style="border:0px solid  #000; ">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold;">Energy<!--<b style="font-size:16px;">Energy</b>--></div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr style="background:#0f0f0f !important; color:#FFF;">
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center; ">Data</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center; ">Export</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center; ">Import</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_01">
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">MWH</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="mwhEnergyExport"></label></td>
                                                                <td style=" color:#FF00FF; padding:0px;"><label id="MWhEnergyImport"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important; color:#f7943c; padding:0px;" scope="row">MVARH Lag </th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="MVARhLagEnergyExport"></label></td>
                                                                <td style=" color:#FF00FF; padding:0px;"><label id="MVARhLagEnergyImport"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important; color:#f7943c; padding:0px;" scope="row">MVARH Lead</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="MVARhLeadEnergyExport"></label></td>
                                                                <td style=" color:#FF00FF;padding:0px;"><label id="MVARhLeadEnergyImport"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important; color:#f7943c; padding:0px;" scope="row">MVAH</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="MVAhEnergyExport"></label></td>
                                                                <td style=" color:#FF00FF;padding:0px;"><label id="MVAhEnergyImport"></label></td>
                                                        </tbody>
                                                    </table>

                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                            <div class="col-lg-4" style="border:0px solid  #000; padding:0px;">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">Title</div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center; " width="50%">Data</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="24%" class="col-md-4 col-xs-4">MW</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="26%" class="col-md-3 col-xs-3">HZ</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_02 ">
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">Cur.Block AVG</th>
                                                                <td style=" color:#00FF00;padding:0px;"> <label id="CurrentBlockAvgExport"></label></td>
                                                                <td style=" color:#FF00FF; padding:0px;"><label id="CurrentBlockAvgImport"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">Last Block AVG</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="LastBlockAvgExport"></label></td>
                                                                <td style=" color:#FF00FF; padding:0px;"><label id="LastBlockAvgImport"></label></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                            <div class="col-lg-4" style="border:0px solid  #000; padding:0px;">
                                                <div class="col-lg-12" style="border:0px solid  #000; ">
                                                    <div class="panel panel-default text-center">
                                                        <div class="panel-heading">
                                                            <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">Title</div>
                                                            <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                        </div>
                                                        <table class="table table-bordered results">
                                                            <thead>
                                                                <tr>
                                                                    <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="46%">Data</th>
                                                                    <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="27%" class="col-md-4 col-xs-4">Export</th>
                                                                    <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="27%" class="col-md-3 col-xs-3">Import</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="table-style_02 ">
                                                                <tr>
                                                                    <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">Day MWH </th>
                                                                    <td style=" color:#00FF00; padding:0px;"><label id="DayMWHExport"></label></td>
                                                                    <td style=" color:#FF00FF; padding:0px;"><label id="DayMWHImport"></label></td>
                                                                </tr>
                                                                <tr>
                                                                    <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" scope="row">Cur.Block MWH</th>
                                                                    <td style=" color:#00FF00;padding:0px;"><label id="CurrentBlockExport"></label></td>
                                                                    <td style=" color:#FF00FF;padding:0px;"><label id="CurrentBlockImport"></label></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <!-- Modal03 popup -->
                                                        <!--/col-->

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal03 popup -->
                                            <!--/col-->

                                        </div>
                                        <div class="col-lg-12" style="border:0px solid  #000;">
                                            <div class="col-lg-2" style="border:0px solid  #000; padding:0px; ">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">Power</div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="30%">Data</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="42%">Value</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_03 ">
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" scope="row">MW</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="MWPower"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" scope="row">MVAR</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="MVARPower"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" scope="row">MVA</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="MVAPower"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" scope="row">PF</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="PFPower"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c;padding:0px;" scope="row">HZ</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="HZPower"></label></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                            <div class="col-lg-2" style="border:0px solid  #000; ">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">Line Volt(KV)</div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="30%">Data</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="42%" class="col-md-4 col-xs-4">Value</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_03 ">
                                                            <tr>
                                                                <th style=" background: #0f0f0f !important; color: #f7943c; padding: 0px;" scope="row">RY</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="RYLineVoltage"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background: #0f0f0f !important; color: #f7943c; padding: 0px;" scope="row">YB</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="YBLineVoltage"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background: #0f0f0f !important; color: #f7943c; padding: 0px;" scope="row">BR</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="BRLineVoltage"></label></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                            <div class="col-lg-2" style="border:0px solid  #000; padding:0px;">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">Ph. Voltage (KV)</div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr>
                                                                <th style=" background: #0f0f0f !important; color: #fff; font-size: 16px; font-weight: bold; text-align: center;" width="30%">Data</th>
                                                                <th style=" background: #0f0f0f !important; color: #fff; font-size: 16px; font-weight: bold; text-align: center;" width="42%" class="col-md-4 col-xs-4">Value</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_04 ">
                                                            <tr>
                                                                <th style=" background: #0f0f0f !important; color: #f7943c; padding: 0px;" scope="row">R</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="RPhVoltage"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">Y</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="YPhVoltage"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">B</th>
                                                                <td style=" color:#00FF00; padding:0px;"><label id="BPhVoltage"></label></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                            <div class="col-lg-2" style="border:0px solid  #000; ">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">Current (A)</div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="30%">Data</th>
                                                                <th style=" background:#0f0f0f !important;color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="42%" class="col-md-4 col-xs-4">Value</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_05 ">
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">R</th>
                                                                <td style="color:#00FF00; padding:0px;"><label id="RCurrent"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">Y</th>
                                                                <td style="color:#00FF00; padding:0px;"><label id="YCurrent"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important;color:#f7943c; padding:0px;" scope="row">B</th>
                                                                <td style="color:#00FF00;padding:0px;"><label id="BCurrent"></label></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                            <div class="col-lg-4" style="border:0px solid  #000; padding:0px;">
                                                <div class="panel panel-default text-center">
                                                    <div class="panel-heading">
                                                        <div class=" dashboard-panel-body-box" style="font-size:16px; font-weight:bold; text-align:center;">KVAR High / Low</div>
                                                        <div class="panel-actions  dashboard-panel-body-boxcontrols"> </div>
                                                    </div>
                                                    <table class="table table-bordered results">
                                                        <thead>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important; color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="30%">V%</th>
                                                                <th style=" background:#0f0f0f !important; color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="42%" class="col-md-4 col-xs-4">Export</th>
                                                                <th style=" background:#0f0f0f !important; color:#fff; font-size:16px; font-weight:bold; text-align:center;" width="28%" class="col-md-3 col-xs-3">Import</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-style_06 ">
                                                            @*<tr>
                        <th style=" background:#0f0f0f !important; color:#f7943c;padding:0px;" scope="row"> V%</th>
                        <td style=" color:#00FF00;padding:0px;"><label id="VPowerExport"></label></td>
                        <td style=" color:#FF00FF;padding:0px;"><label id="VPowerImport"></label></td>
                    </tr>*@
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important; color:#f7943c;padding:0px;" scope="row"> 103%</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="103PowerExport"></label></td>
                                                                <td style=" color:#FF00FF;padding:0px;"><label id="103PowerImport"></label></td>
                                                            </tr>
                                                            <tr>
                                                                <th style=" background:#0f0f0f !important; color:#f7943c;padding:0px;" scope="row">97%</th>
                                                                <td style=" color:#00FF00;padding:0px;"><label id="97PowerExport"></label></td>
                                                                <td style=" color:#FF00FF;padding:0px;"><label id="97PowerImport"></label></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- Modal03 popup -->
                                                    <!--/col-->

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6" style="border:0px solid  #000; padding:0px;">
                                            <div class="col-lg-3" style="border:0px solid  #000; padding:0px;"> </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    var ws;
    var ws1;
    var meterId = "";
    var box;
    var a = 0, b = 0;
    $().ready(function () {
        @*$("#btnBack").click(function () {
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            window.location.href = '@Url.Action("Index", "ABTMeter")';
        });
        meterId = $("#METERID").val();*@
        //ABTMeterDetails(meterId);

        // $('#rwData').hide();

        ws = new WebSocket("@System.Web.Configuration.WebConfigurationManager.AppSettings["SocketUrl"]" + "InstanceDataAPI/");
        ws1 = new WebSocket("@System.Web.Configuration.WebConfigurationManager.AppSettings["SocketUrl"]" + "InstanceDataAPI/");
        $("#groupList").change(function () {
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            var grpId = $('#groupList').val();
            $.ajax({
                url: '@Url.Action("MetersByGroupID", "TrendsData")',
                data: { id: grpId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "";
                    var markup = "<option value=''>Select Meters</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#meterList").html(markup).show();
                    if (box) box.remove();
                },
                error: function (reponse) {
                    if (box) box.remove();
                }
            });
        });

        $("#meterList").change(function () {
            var data =
                {
                    METERID: $('#meterList').val(),
                    Group_Name: $('#groupList option:selected').text(),
                    Meter_Name: $('#meterList option:selected').text()
                };
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            // window.location.href = "/ABTMeter/ABTMeterDetails/" + data;
            ///window.location.href = "/ABTMeter/ABTMeterDetails/array?" + decodeURIComponent($.param(data));

            a = $('#meterList').val();
            ABTMeterDetailsNull();
            ABTMeterDetails();
            if (box) box.remove();
        });

        $("#groupList1").change(function () {
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            var grpId = $('#groupList1').val();
            $.ajax({
                url: '@Url.Action("MetersByGroupID", "TrendsData")',
                data: { id: grpId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "";
                    var markup = "<option value=''>Select Meters</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#meterList1").html(markup).show();
                    if (box) box.remove();
                },
                error: function (reponse) {
                    if (box) box.remove();
                }
            });
        });

        $("#meterList1").change(function () {
            var data =
                {
                    METERID: $('#meterList1').val(),
                    Group_Name: $('#groupList1 option:selected').text(),
                    Meter_Name: $('#meterList1 option:selected').text()
                };
            box = new ajaxLoader(this, { classOveride: 'blue-loader', bgColor: '#000' });
            // window.location.href = "/ABTMeter/ABTMeterDetails/" + data;
            ///window.location.href = "/ABTMeter/ABTMeterDetails/array?" + decodeURIComponent($.param(data));
            b = $('#meterList1').val();
            ABTMeterDetails1();
            if (box) box.remove();
        });



    });
    function ABTMeterDetailsold(meterId) {
        $('#rwData').show();
        $("#realtime").text("connecting");
        @*ws = new WebSocket("@System.Web.Configuration.WebConfigurationManager.AppSettings["SocketUrl"]" + "InstanceDataAPI/");*@
        console.log(ws);
        ws.close();
        ws = new WebSocket("@System.Web.Configuration.WebConfigurationManager.AppSettings["SocketUrl"]" + "InstanceDataAPI/");
        ws.onopen = function () {
            console.log(meterId);
            ws.send(meterId + "new");
            //ws.send("[{'meterid':' " + meterGroup + "', 'metergroup': " + meterId + "'}]");
            $("#realtime").text("connected");
        };
        ws.onmessage = function (evt) {
            var obj = JSON.parse(evt.data);
            if (obj != null) {
                $('#rwData').removeData();
                var fullDate = new Date();
                var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
                var ampm = fullDate.getHours() < 12 ? " AM" : " PM";
                var time = moment(fullDate).format("hh:mm:ss") + ampm;
                //  var month = moment(fullDate).format("MMM");
                var currentDate = fullDate.getDate() + "0" + twoDigitMonth + "0" + fullDate.getFullYear() + " | " + time;
                // debugger
                console.log($('#MWhEnergyImport').text);
                $("#CurrentDate").removeData().text(currentDate);
                $("#mwhEnergyExport").removeData().text(obj.kwh_exp == null ? "0" : obj.kwh_exp);
                $("#MWhEnergyImport").removeData().text(obj.kwh_imp == null ? "0" : obj.kwh_imp);

                $("#MVARhLagEnergyExport").removeData().text(obj.kvarh_lag_exp == null ? "0" : obj.kvarh_lag_exp);
                $("#MVARhLagEnergyImport").text(obj.kvarh_lag_imp == null ? "0" : obj.kvarh_lag_imp);

                $("#MVARhLeadEnergyExport").removeData().text(obj.kvarh_lead_exp == null ? "0" : obj.kvarh_lead_exp);
                $("#MVARhLeadEnergyImport").removeData().text(obj.kvarh_lead_imp == null ? "0" : obj.kvarh_lead_imp);


                $("#MVAhEnergyExport").text(obj.kvah_exp == null ? "0" : obj.kvah_exp);
                $("#MVAhEnergyImport").text(obj.kvah_imp == null ? "0" : obj.kvah_imp);

                $("#MWPower").text(obj.kw == null ? "0" : obj.kw);
                $("#MVARPower").text(obj.kvar == null ? "0" : obj.kvar);
                $("#MVAPower").text(obj.kva == null ? "0" : obj.kva);

                $("#PFPower").text(obj.pf == null ? "0" : (obj.pf).toFixed(3));
                $("#HZPower").text(obj.hz == null ? "0" : obj.hz);

                $("#RYLineVoltage").text(obj.vry == null ? "0" : obj.vry);
                $("#YBLineVoltage").text(obj.vyb == null ? "0" : obj.vyb);
                $("#BRLineVoltage").text(obj.vbr == null ? "0" : obj.vbr);

                $("#RPhVoltage").text(obj.vrn == null ? "0" : obj.vrn);
                $("#YPhVoltage").text(obj.vyn == null ? "0" : obj.vyn);
                $("#BPhVoltage").text(obj.vbn == null ? "0" : obj.vbn);

                $("#RCurrent").text(obj.ir == null ? "0" : obj.ir);
                $("#YCurrent").text(obj.iy == null ? "0" : obj.iy);
                $("#BCurrent").text(obj.ib == null ? "0" : obj.ib);

                $("#DayMWHExport").text(obj.day_kwh_exp == null ? "0" : obj.day_kwh_exp);
                $("#DayMWHImport").text(obj.day_kwh_imp == null ? "0" : obj.day_kwh_imp);

                $("#CurrentBlockExport").text(obj.cblk_kwh_exp == null ? "0" : (obj.cblk_kwh_exp / 1000000));
                $("#CurrentBlockImport").text(obj.cblk_kwh_imp == null ? "0" : (obj.cblk_kwh_imp / 1000000));

                $("#LastBlockAvgExport").text(obj.lblk_avg_mw == null ? "0" : obj.lblk_avg_mw);
                $("#LastBlockAvgImport").text(obj.lblk_avg_hz == null ? "0" : obj.lblk_avg_hz);

                $("#CurrentBlockAvgExport").text(obj.cblk_avg_mw == null ? "0" : obj.cblk_avg_mw);
                $("#CurrentBlockAvgImport").text(obj.cblk_avg_hz == null ? "0" : obj.cblk_avg_hz);

                $("#VPowerExport").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                $("#VPowerImport").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                $("#103PowerExport").text(obj.kvarh_exp_103 == null ? "0" : obj.kvarh_exp_103);
                $("#103PowerImport").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                $("#97PowerExport").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                $("#97PowerImport").text(obj.kvarh_imp_97 == null ? "0" : obj.kvarh_imp_97);
            }
        };
        ws.onerror = function (evt) {
            $("#realtime").text(evt.message);
        };
        ws.onclose = function () {
            $("#realtime").text("disconnected");
        };
    }

    function ABTMeterDetails1old(meterId) {
        $('#rwData').show();
        $("#realtime").text("connecting");
        @*ws = new WebSocket("@System.Web.Configuration.WebConfigurationManager.AppSettings["SocketUrl"]" + "InstanceDataAPI/");*@
        console.log(ws1);
        ws1.close();
        ws1 = new WebSocket("@System.Web.Configuration.WebConfigurationManager.AppSettings["SocketUrl"]" + "InstanceDataAPI/");
        ws1.onopen = function () {
            console.log(meterId);
            ws1.send(meterId + "new");
            //ws.send("[{'meterid':' " + meterGroup + "', 'metergroup': " + meterId + "'}]");
            $("#realtime").text("connected");
        };
        ws1.onmessage = function (evt) {
            var obj = JSON.parse(evt.data);
            if (obj != null) {
                $('#rwData').removeData();
                var fullDate = new Date();
                var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
                var ampm = fullDate.getHours() < 12 ? " AM" : " PM";
                var time = moment(fullDate).format("hh:mm:ss") + ampm;
                //  var month = moment(fullDate).format("MMM");
                var currentDate = fullDate.getDate() + "0" + twoDigitMonth + "0" + fullDate.getFullYear() + " | " + time;
                // debugger
                console.log($('#MWhEnergyImport').text);
                $("#CurrentDate").removeData().text(currentDate);
                $("#mwhEnergyExport1").removeData().text(obj.kwh_exp == null ? "0" : obj.kwh_exp);
                $("#MWhEnergyImport1").removeData().text(obj.kwh_imp == null ? "0" : obj.kwh_imp);

                $("#MVARhLagEnergyExport1").removeData().text(obj.kvarh_lag_exp == null ? "0" : obj.kvarh_lag_exp);
                $("#MVARhLagEnergyImport1").text(obj.kvarh_lag_imp == null ? "0" : obj.kvarh_lag_imp);

                $("#MVARhLeadEnergyExport1").removeData().text(obj.kvarh_lead_exp == null ? "0" : obj.kvarh_lead_exp);
                $("#MVARhLeadEnergyImport1").removeData().text(obj.kvarh_lead_imp == null ? "0" : obj.kvarh_lead_imp);


                $("#MVAhEnergyExport1").text(obj.kvah_exp == null ? "0" : obj.kvah_exp);
                $("#MVAhEnergyImport1").text(obj.kvah_imp == null ? "0" : obj.kvah_imp);

                $("#MWPower1").text(obj.kw == null ? "0" : obj.kw);
                $("#MVARPower1").text(obj.kvar == null ? "0" : obj.kvar);
                $("#MVAPower1").text(obj.kva == null ? "0" : obj.kva);

                $("#PFPower1").text(obj.pf == null ? "0" : (obj.pf).toFixed(3));
                $("#HZPower1").text(obj.hz == null ? "0" : obj.hz);

                $("#RYLineVoltage1").text(obj.vry == null ? "0" : obj.vry);
                $("#YBLineVoltage1").text(obj.vyb == null ? "0" : obj.vyb);
                $("#BRLineVoltage1").text(obj.vbr == null ? "0" : obj.vbr);

                $("#RPhVoltage1").text(obj.vrn == null ? "0" : obj.vrn);
                $("#YPhVoltage1").text(obj.vyn == null ? "0" : obj.vyn);
                $("#BPhVoltage1").text(obj.vbn == null ? "0" : obj.vbn);

                $("#RCurrent1").text(obj.ir == null ? "0" : obj.ir);
                $("#YCurrent1").text(obj.iy == null ? "0" : obj.iy);
                $("#BCurrent1").text(obj.ib == null ? "0" : obj.ib);

                $("#DayMWHExport1").text(obj.day_kwh_exp == null ? "0" : obj.day_kwh_exp);
                $("#DayMWHImport1").text(obj.day_kwh_imp == null ? "0" : obj.day_kwh_imp);

                $("#CurrentBlockExport1").text(obj.cblk_kwh_exp == null ? "0" : obj.cblk_kwh_exp / 1000000);
                $("#CurrentBlockImport1").text(obj.cblk_kwh_imp == null ? "0" : obj.cblk_kwh_imp / 1000000);

                $("#LastBlockAvgExport1").text(obj.lblk_avg_mw == null ? "0" : obj.lblk_avg_mw);
                $("#LastBlockAvgImport1").text(obj.lblk_avg_hz == null ? "0" : obj.lblk_avg_hz);

                $("#CurrentBlockAvgExport1").text(obj.cblk_avg_mw == null ? "0" : obj.cblk_avg_mw);
                $("#CurrentBlockAvgImport1").text(obj.cblk_avg_hz == null ? "0" : obj.cblk_avg_hz);

                $("#VPowerExport1").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                $("#VPowerImport1").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                $("#103PowerExport1").text(obj.kvarh_exp_103 == null ? "0" : obj.kvarh_exp_103);
                $("#103PowerImport1").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                $("#97PowerExport1").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                $("#97PowerImport1").text(obj.kvarh_imp_97 == null ? "0" : obj.kvarh_imp_97);
            }
        };
        ws1.onerror = function (evt) {
            $("#realtime").text(evt.message);
        };
        ws1.onclose = function () {
            $("#realtime").text("disconnected");
        };
    }

    function ABTMeterDetails() {
        var MeterString = a.toString();
        var MeterIdList = {
            "MeterString": MeterString

        };

        $.ajax({
            //type: "GET",
            //contentType: "application/json;charset=utf-8",//type of data to be send
            //url: BaseAddress + "GetAllInstanceData/getMeterData/" + MeterString,
            //dataType: "json",//type of data to be received

            type: "POST",
            url: BaseAddress + "GetAllInstanceData/",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(MeterIdList),
            dataType: "json",

            success: function (response, status, jqXHR) {

                var jsonObj = response.Data.result;
                //debugger
                if (jsonObj != undefined && jsonObj.length > 0) {
                    //debugger

                    jsonObj.forEach(function (responseobj) {
                        var obj = responseobj;
                        if (obj != null) {
                            var fullDate = new Date();
                            var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
                            var ampm = fullDate.getHours() < 12 ? " AM" : " PM";
                            var time = moment(fullDate).format("hh:mm:ss") + ampm;
                            //  var month = moment(fullDate).format("MMM");
                            var currentDate = fullDate.getDate() + "0" + twoDigitMonth + "0" + fullDate.getFullYear() + " | " + time;
                            $("#CurrentDate").text(currentDate);
                            $("#mwhEnergyExport").text(obj.kwh_exp == null ? "0" : obj.kwh_exp);
                            $("#MWhEnergyImport").text(obj.kwh_imp == null ? "0" : obj.kwh_imp);

                            $("#MVARhLagEnergyExport").text(obj.kvarh_lag_exp == null ? "0" : obj.kvarh_lag_exp);
                            $("#MVARhLagEnergyImport").text(obj.kvarh_lag_imp == null ? "0" : obj.kvarh_lag_imp);

                            $("#MVARhLeadEnergyExport").text(obj.kvarh_lead_exp == null ? "0" : obj.kvarh_lead_exp);
                            $("#MVARhLeadEnergyImport").text(obj.kvarh_lead_imp == null ? "0" : obj.kvarh_lead_imp);


                            $("#MVAhEnergyExport").text(obj.kvah_exp == null ? "0" : obj.kvah_exp);
                            $("#MVAhEnergyImport").text(obj.kvah_imp == null ? "0" : obj.kvah_imp);

                            $("#MWPower").text(obj.kw == null ? "0" : (obj.kw).toFixed(2));
                            $("#MVARPower").text(obj.kvar == null ? "0" : (obj.kvar).toFixed(2));
                            $("#MVAPower").text(obj.kva == null ? "0" : (obj.kva).toFixed(2));

                            $("#PFPower").text(obj.pf == null ? "0" : (obj.pf).toFixed(3));
                            $("#HZPower").text(obj.hz == null ? "0" : obj.hz);

                            $("#RYLineVoltage").text(obj.vry == null ? "0" : obj.vry);
                            $("#YBLineVoltage").text(obj.vyb == null ? "0" : obj.vyb);
                            $("#BRLineVoltage").text(obj.vbr == null ? "0" : obj.vbr);

                            $("#RPhVoltage").text(obj.vrn == null ? "0" : obj.vrn);
                            $("#YPhVoltage").text(obj.vyn == null ? "0" : obj.vyn);
                            $("#BPhVoltage").text(obj.vbn == null ? "0" : obj.vbn);

                            $("#RCurrent").text(obj.ir == null ? "0" : obj.ir);
                            $("#YCurrent").text(obj.iy == null ? "0" : obj.iy);
                            $("#BCurrent").text(obj.ib == null ? "0" : obj.ib);

                            $("#DayMWHExport").text(obj.day_kwh_exp == null ? "0" : obj.day_kwh_exp);
                            $("#DayMWHImport").text(obj.day_kwh_imp == null ? "0" : obj.day_kwh_imp);

                            $("#CurrentBlockExport").text(obj.cblk_kwh_exp == null ? "0" : (obj.cblk_kwh_exp).toFixed(2));
                            $("#CurrentBlockImport").text(obj.cblk_kwh_imp == null ? "0" : (obj.cblk_kwh_imp).toFixed(2));

                            $("#LastBlockAvgExport").text(obj.lblk_avg_mw == null ? "0" : obj.lblk_avg_mw);
                            $("#LastBlockAvgImport").text(obj.lblk_avg_hz == null ? "0" : obj.lblk_avg_hz);

                            $("#CurrentBlockAvgExport").text(obj.cblk_avg_mw == null ? "0" : obj.cblk_avg_mw);
                            $("#CurrentBlockAvgImport").text(obj.cblk_avg_hz == null ? "0" : obj.cblk_avg_hz);

                            $("#VPowerExport").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                            $("#VPowerImport").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                            $("#103PowerExport").text(obj.kvarh_exp_103 == null ? "0" : obj.kvarh_exp_103);
                            $("#103PowerImport").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                            $("#97PowerExport").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                            $("#97PowerImport").text(obj.kvarh_imp_97 == null ? "0" : obj.kvarh_imp_97);
                        }
                    });



                }
            },
            error: function (xhr, status, error) {
                if (box) box.remove();
            }
        });

    }

    function ABTMeterDetails1() {
        var MeterString = b.toString();
        var MeterIdList = {
            "MeterString": MeterString

        };

        $.ajax({
            //type: "GET",
            //contentType: "application/json;charset=utf-8",//type of data to be send
            //url: BaseAddress + "GetAllInstanceData/getMeterData/" + MeterString,
            //dataType: "json",//type of data to be received

            type: "POST",
            url: BaseAddress + "GetAllInstanceData/",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(MeterIdList),
            dataType: "json",

            success: function (response, status, jqXHR) {

                var jsonObj = response.Data.result;
                //debugger
                if (jsonObj != undefined && jsonObj.length > 0) {
                    //debugger

                    jsonObj.forEach(function (responseobj) {
                        var obj = responseobj;
                        if (obj != null) {
                            var fullDate = new Date();
                            var twoDigitMonth = ((fullDate.getMonth().length + 1) === 1) ? (fullDate.getMonth() + 1) : '0' + (fullDate.getMonth() + 1);
                            var ampm = fullDate.getHours() < 12 ? " AM" : " PM";
                            var time = moment(fullDate).format("hh:mm:ss") + ampm;
                            //  var month = moment(fullDate).format("MMM");
                            var currentDate = fullDate.getDate() + "0" + twoDigitMonth + "0" + fullDate.getFullYear() + " | " + time;
                            $("#CurrentDate").text(currentDate);
                            $("#mwhEnergyExport1").text(obj.kwh_exp == null ? "0" : obj.kwh_exp);
                            $("#MWhEnergyImport1").text(obj.kwh_imp == null ? "0" : obj.kwh_imp);

                            $("#MVARhLagEnergyExport1").text(obj.kvarh_lag_exp == null ? "0" : obj.kvarh_lag_exp);
                            $("#MVARhLagEnergyImport1").text(obj.kvarh_lag_imp == null ? "0" : obj.kvarh_lag_imp);

                            $("#MVARhLeadEnergyExport1").text(obj.kvarh_lead_exp == null ? "0" : obj.kvarh_lead_exp);
                            $("#MVARhLeadEnergyImport1").text(obj.kvarh_lead_imp == null ? "0" : obj.kvarh_lead_imp);


                            $("#MVAhEnergyExport1").text(obj.kvah_exp == null ? "0" : obj.kvah_exp);
                            $("#MVAhEnergyImport1").text(obj.kvah_imp == null ? "0" : obj.kvah_imp);

                            $("#MWPower1").text(obj.kw == null ? "0" : obj.kw);
                            $("#MVARPower1").text(obj.kvar == null ? "0" : obj.kvar);
                            $("#MVAPower1").text(obj.kva == null ? "0" : obj.kva);

                            $("#PFPower1").text(obj.pf == null ? "0" : (obj.pf).toFixed(3));
                            $("#HZPower1").text(obj.hz == null ? "0" : obj.hz);

                            $("#RYLineVoltage1").text(obj.vry == null ? "0" : obj.vry);
                            $("#YBLineVoltage1").text(obj.vyb == null ? "0" : obj.vyb);
                            $("#BRLineVoltage1").text(obj.vbr == null ? "0" : obj.vbr);

                            $("#RPhVoltage1").text(obj.vrn == null ? "0" : obj.vrn);
                            $("#YPhVoltage1").text(obj.vyn == null ? "0" : obj.vyn);
                            $("#BPhVoltage1").text(obj.vbn == null ? "0" : obj.vbn);

                            $("#RCurrent1").text(obj.ir == null ? "0" : obj.ir);
                            $("#YCurrent1").text(obj.iy == null ? "0" : obj.iy);
                            $("#BCurrent1").text(obj.ib == null ? "0" : obj.ib);

                            $("#DayMWHExport1").text(obj.day_kwh_exp == null ? "0" : obj.day_kwh_exp);
                            $("#DayMWHImport1").text(obj.day_kwh_imp == null ? "0" : obj.day_kwh_imp);

                            $("#CurrentBlockExport1").text(obj.cblk_kwh_exp == null ? "0" : obj.cblk_kwh_exp);
                            $("#CurrentBlockImport1").text(obj.cblk_kwh_imp == null ? "0" : obj.cblk_kwh_imp);

                            $("#LastBlockAvgExport1").text(obj.lblk_avg_mw == null ? "0" : obj.lblk_avg_mw);
                            $("#LastBlockAvgImport1").text(obj.lblk_avg_hz == null ? "0" : obj.lblk_avg_hz);

                            $("#CurrentBlockAvgExport1").text(obj.cblk_avg_mw == null ? "0" : obj.cblk_avg_mw);
                            $("#CurrentBlockAvgImport1").text(obj.cblk_avg_hz == null ? "0" : obj.cblk_avg_hz);

                            $("#VPowerExport1").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                            $("#VPowerImport1").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                            $("#103PowerExport1").text(obj.kvarh_exp_103 == null ? "0" : obj.kvarh_exp_103);
                            $("#103PowerImport1").text(obj.kvarh_imp_103 == null ? "0" : obj.kvarh_imp_103);

                            $("#97PowerExport1").text(obj.kvarh_exp_97 == null ? "0" : obj.kvarh_exp_97);
                            $("#97PowerImport1").text(obj.kvarh_imp_97 == null ? "0" : obj.kvarh_imp_97);
                        }
                    });



                }
            },
            error: function (xhr, status, error) {
                if (box) box.remove();
            }
        });
    }

    //setInterval(ABTMeterDetails1, 1000);
    setInterval(ABTMeterDetails, 1000);
    function ABTMeterDetailsNull() {

        $('#rwData').show();
        $("#mwhEnergyExport").text("0");
        $("#MWhEnergyImport").text("0");

        $("#MVARhLagEnergyExport").text("0");
        $("#MVARhLagEnergyImport").text("0");

        $("#MVARhLeadEnergyExport").text("0");
        $("#MVARhLeadEnergyImport").text("0");


        $("#MVAhEnergyExport").text("0");
        $("#MVAhEnergyImport").text("0");

        $("#MWPower").text("0");
        $("#MVARPower").text("0");
        $("#MVAPower").text("0");

        $("#PFPower").text("0");
        $("#HZPower").text("0");

        $("#RYLineVoltage").text("0");
        $("#YBLineVoltage").text("0");
        $("#BRLineVoltage").text("0");

        $("#RPhVoltage").text("0");
        $("#YPhVoltage").text("0");
        $("#BPhVoltage").text("0");

        $("#RCurrent").text("0");
        $("#YCurrent").text("0");
        $("#BCurrent").text("0");

        $("#DayMWHExport").text("0");
        $("#DayMWHImport").text("0");

        $("#CurrentBlockExport").text("0");
        $("#CurrentBlockImport").text("0");

        $("#LastBlockAvgExport").text("0");
        $("#LastBlockAvgImport").text("0");

        $("#CurrentBlockAvgExport").text("0");
        $("#CurrentBlockAvgImport").text("0");

        $("#VPowerExport").text("0");
        $("#VPowerImport").text("0");

        $("#103PowerExport").text("0");
        $("#103PowerImport").text("0");

        $("#97PowerExport").text("0");
        $("#97PowerImport").text("0");

    }
</script>
